/*
COLOURS INDEX:
  Primary colours: hx
  Secondary: p and a
  Tertiary: background-color of body
  Quaternary: a bottom border
  Quinternary(?): we'll see

For the colours refer yourself to the COLOUR-DESIGN-STUDY folder!!!
PS British English is better than American English
*/

*
{
  text-rendering: optimizeLegibility;
}

html, body { height: 100%;}
body
{ background-color: rgb(90, 20, 25); /*Tertiary*/ }

/* Normal text must be inside p, using Lato font */
p, a
{
  color: rgb(215, 190, 215);
  font-family: 'Lato', serif;
}

/* navbar elements */
nav.navbar
{
  background-color: rgb(50, 25, 50);
  text-align: center;
}


/* BUG: Hamburger Menu Bug - Doesn't appear but it's there */
/* Permanent "Fix" Here */
img.menu-icon
{
  width: 35px;
  height: 35px;
}

/* link things */
a.nav-link:link,
a.nav-link:visited
{
  color: rgb(230, 85, 100);
  text-rendering: optimizeLegibility;
  font-size: 18px;
  padding: 8px 2px 2px 2px;

  /* Transitions Here */
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.75s;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s;
}

a.nav-link:hover,
a.nav-link:active
{
  padding: 8px 2px 2px 2px;
  transition: border-bottom 0.75s;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #BDBDBD;
}

/* Header */
header
{
  background: url(img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.hero
{
  width: 100%;
  min-height: 700px;
  max-height: 700px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
}

img.logo-img
{
  padding: 7.5% 15%;
  width: 100%;
  height: auto;
}

/* Content */

div.page-wrap
{
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

div.page-wrap:after
{
  content: "";
  display: block;
}

div.content
{
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 800px;
  max-width: 1040px;
  margin: 30px auto 0 auto;
}

/* Section */

section
{
  padding: 5px 50px;
}

/* Footer */
footer.site-footer
{
    background-color: rgb(50, 25, 50);
    color: rgb(255, 235, 160);

    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/* All Headers Use Ubuntu Font */
h1, h2, h3, h4, h5, h6
{
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 235, 160);
}

/* Film posters and headings */
h3.film-title,
h4.date
{
  text-align: center;
}
img.poster
{
  width: 100%;
  height: auto;
}

p.poster-text
{

}


hr
{
  color: rgb(230, 85, 100);
}

/* licence */
a.licence
{
  color: rgb(230, 85, 100);
  transition: color 1s;
}
a.licence:link,
a.licence:visited
{
  color: rgb(230, 85, 100);
  transition: color 1s;
}

a.licence:hover,
a.licence:active
{
  text-decoration: none;

  color: rgb(215, 190, 215);
  transition: color 1s;
}

/* Back to top button */
a.back-to-top
{
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

  background: no-repeat center center;
  background-color: rgb(255, 235, 160);
  background-image: url("img/up-arrow.png");
  background-size: 35px;

  transition: background-color 1s;
}

a:hover.back-to-top
{
	background-color: rgb(215, 190, 215);
  transition: background-color 1s;
}
