/* Omni-css (Latin sounds cool, right?) */
/* Actually it's just a set of instructions used in all the page */
/* But it's long and Omni-css sounds cool */
/* This is the real Omni-Tag of CSS */
*
{
  text-align: center;
}

td
{
  height: 350px;
  width: 350px;
}

table
{
  width: 100%;
  height: auto;
  background-color: #000;
  border: 5px solid #0000ff;
}
/* TODO: Some minor tweaks to the colours, it's just a good starting point */

/* Aurora Borealis 1 Inspired */
td.ab1-0
{ background-color: #005069; }
td.ab1-1
{ background-color: #027E9E; }
td.ab1-2
{ background-color: #00442B; }
td.ab1-3
{ background-color: #219C54; }
td.ab1-4
{ background-color: #7BF7C0; }

/* Bolshoj 1 Inspired */
td.bs1-0
{ background-color: #2C63B6; }
td.bs1-1
{ background-color: #F6EAD4; }
td.bs1-2
{ background-color: #AADDD4; }
td.bs1-3
{ background-color: #E8B25F; }
td.bs1-4
{ background-color: #230000; }


/* Bolshoj 2 Inspired */
/* No need to indent for ONE tag */
td.bs2-0
{ background-color: #F3F2F1; }
td.bs2-1
{ background-color: #8A5121; }
td.bs2-2
{ background-color: #5A2610; }
td.bs2-3
{ background-color: #240303; }
td.bs2-4
{ background-color: #8F1715; }

/* London's Phoenix Cinema 1 Inspired */
/* TODO: Convert it in decimal RGB scale */
/*
td.pc1-0
{ background-color: #5C0A10; }
td.pc1-1
{ background-color: #612A47; }
td.pc1-2
{ background-color: #B281B2; }
td.pc1-3
{ background-color: #EAC298; }
td.pc1-4
{ background-color: #D65455; }
*/
/* Converted to RGB and approximated, easier to edit */
td.pc1-0
{ background-color: rgb(90, 20, 25); } /* Red Cosmos */
td.pc1-1
{ background-color: rgb(50, 25, 50); } /* Dark Purple */
td.pc1-2
{ background-color: rgb(215, 190, 215); } /* Thistle */
td.pc1-3
{ background-color: rgb(255, 235, 160); } /* Royal Yellow */
td.pc1-4
{ background-color: rgb(230, 85, 100); } /* Imperial Red */

/* Autumn 1 Inspired */
td.au1-0
{ background-color: #DEFDFF; }
td.au1-1
{ background-color: #BFC20C; }
td.au1-2
{ background-color: #F4B507; }
td.au1-3
{ background-color: #C32A0A; }
td.au1-4
{ background-color: #691100; }
