*
{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: rgb(145, 160, 170);
  margin: 0;
}

body
{
  background-color: #AAA;
}

div.content
{
  background-color: rgba(15, 0, 75, 0.15);
  padding: 0, auto, 0;
  margin: 15, auto, 15;
  height: 100%;
}

h1
{
  color: #5e95ff;
}

h3
{
  font-family: 'Ubuntu', sans-serif;
  color: #005ecd;
}

p
{
  font-weight: lighter;
}

/* Video */
.fullscreen-bg
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9)
{
  .fullscreen-bg__video
  {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
/* End Video */
