/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* Set default fonts */
body, p, a, blockquote, q
{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Playfair Display', serif;
}

/*
    We display a fallback message for users with browsers that don't support
    all the features required by it. All of the content will be still fully 
    accessible for them, but some more advanced effects would be missing.
    When impress.js detects that browser supports all necessary CSS3 features, 
    the fallback-message style is hidden.
*/
.fallback-message {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}
/*
  The body background is the bacgkround of "everything". Many
  impress.js tools call it the "surface". It could also be a
  picture or pattern, but we leave it as light gray.
*/

body 
{
    min-height: 740px;

    background: #bdc3c7;
    color: #2c3e50;
}

/*
    Now let's style the presentation steps.
*/

.step {
    position: relative;
    display: block;

    width: 900px;
    height: 700px;
    margin: 20px 0;
    padding: 40px 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    letter-spacing: -1px;

}
/*
    Make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.75;
    transition: opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

/*
    Speaker notes allow you to write comments within the steps, that will not 
    be displayed as part of the presentation. However, they will be picked up
    and displayed by impressConsole.js when integrated.
*/

.notes {
    display: none;
}

img.highImage
{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 18em;
}

img.images
{
    display: block;
    margin: 0 auto;
    width: 15em;
    height: auto;
}

img.wideImage
{
    display: block;
    margin: auto;
    width: auto;
    max-height: 20em;
}

img.fullImage
{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

div.reveal
{
    position: absolute;
    pointer-events: all;
}

h1 > small
{
    color: rgba(44, 62, 80, 0.85);
    font-size: 0.75em;
}

h1, 
h2, 
h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}

p {
    text-align: left;
    margin: 0.7em;
}

li {
    margin: 0.2em;    
}

/* Highlight.js used for coloring pre > code blocks. */
pre > code {
    font-size: 14px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* Inline code, no Highlight.js */
code {
font-family: 'Inconsolata',
monospace;
}


a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(200,200,200,0.3);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    border-bottom: 1px solid rgba(100,100,100,0.4);
    border-left:   1px solid rgba(100,100,100,0.4);

    transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(200,200,200,1);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

blockquote {
    font-style: italic;
    font-weight: 400;    
}

em {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);    
}

strong {
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

q {
    font-style: italic;
    font-weight: 400;    
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strike {
    opacity: 0.7;
}

small {
    font-size: 0.4em;
}

img {
    width: 100%;
    height: auto;
}

/****************** Tables **********************************************/

table
{
    width: 100%;
    height: 100%;
}

/****************** Background images **********************************************/


img.bg {
    position: fixed;
    z-index: -100;
    opacity: 0;
    height: 50%;
    width: auto;
    transition:  opacity 2s;
}

/*************** Slide specific things ****************************/

#image-credits {
    color: #779988;
}

/******************* PLUGINS *************************************************************/
/*
  This version of impress.js supports plugins, and in particular, a UI toolbar
  plugin that allows easy navigation between steps and autoplay.
*/
/*
  This version of impress.js supports plugins, and in particular, a UI toolbar
  plugin that allows easy navigation between steps and autoplay.
*/

.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}

.impress-enabled div#impress-toolbar>span {
    margin-right: 10px;
}

/*
    With help from the mouse-timeout plugin, we can hide the toolbar and
    have it show only when you move/click/touch the mouse.
*/

body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

/*
    In fact, we can hide the mouse cursor itself too, when mouse isn't used.
*/

body.impress-mouse-timeout {
    cursor: none;
}

/* Progress bar */

.impress-progressbar {
    position: absolute;
    right: 118px;
    bottom: 1px;
    left: 118px;
    border-radius: 7px;
    border: 2px solid rgba(100, 100, 100, 0.2);
}

.impress-progressbar DIV {
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: rgba(75, 75, 75, 0.4);
    transition: width 1s linear;
}

.impress-progress {
    position: absolute;
    left: 59px;
    bottom: 1px;
    text-align: left;
    font-size: 10pt;
    opacity: 0.6;
}

/* Help popup plugin */

.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}

.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}

/* Substep plugin */

#impress .step .substep {
    opacity: 0;
}

#impress .step .substep.substep-visible {
    opacity: 1;
    transition: opacity 1s;
}

.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }
