#imCell_2 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 85px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 233px; min-height: 79px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_2_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_2_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_2_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_2_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_2_tab0 p { margin: 0; padding: 0; }
#imTextObject_2_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_2_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 .imUl { text-decoration: underline; }
#imTextObject_2_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .cf1 { color: #000000; }
#imTextObject_2_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_2_tab0 .cf3 { color: #008020; }
#imTextObject_2_tab0 .cf4 { color: #000000; }
#imTextObject_2_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_2_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_2_tab0 .cb1 { background-color: #000000; }
#imTextObject_2_tab0 .cb2 { background-color: transparent; }
#imTextObject_2_tab0 .cb3 { background-color: #008020; }
#imTextObject_2_tab0 .cb4 { background-color: #000000; }
#imCell_11 { display: block; position: relative; overflow: hidden; width: 729px; min-height: 373px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_11 { position: relative; width: 723px; min-height: 367px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_11 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_11 > a { display: block; }
#imCell_12 { display: block; position: relative; overflow: hidden; width: 235px; min-height: 278px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_12 { position: relative; width: 225px; min-height: 230px; padding: 5px 5px 43px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_12 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_12_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_12_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_12_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_12_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_12_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_12_tab0 p { margin: 0; padding: 0; }
#imTextObject_12_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_12_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_12_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_12_tab0 .imUl { text-decoration: underline; }
#imTextObject_12_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_12_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_12_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_12_tab0 .ff3 { font-family: "Arial", sans-serif; }
#imTextObject_12_tab0 .cf1 { color: #000000; }
#imTextObject_12_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_12_tab0 .cf3 { color: #000000; }
#imTextObject_12_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_12_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_12_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_12_tab0 .cb1 { background-color: #000000; }
#imTextObject_12_tab0 .cb2 { background-color: transparent; }
#imTextObject_12_tab0 .cb3 { background-color: #000000; }
#imCell_14 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 449px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_14 { position: relative; width: 472px; min-height: 385px; padding: 6px 6px 58px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_14 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_14_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_14_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_14_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_14_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_14_tab0 p { margin: 0; padding: 0; }
#imTextObject_14_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_14_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_14_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_14_tab0 .imUl { text-decoration: underline; }
#imTextObject_14_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_14_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_14_tab0 .cf1 { color: #000000; }
#imTextObject_14_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_14_tab0 .cf3 { color: #000000; }
#imTextObject_14_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_14_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_14_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 .cb1 { background-color: #000000; }
#imTextObject_14_tab0 .cb2 { background-color: transparent; }
#imTextObject_14_tab0 .cb3 { background-color: #000000; }
#imCell_16 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 797px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_16 { position: relative; width: 478px; min-height: 705px; padding: 3px 3px 89px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_16 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_16_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_16_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_16_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_16_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_16_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_16_tab0 p { margin: 0; padding: 0; }
#imTextObject_16_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_16_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_16_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_16_tab0 .imUl { text-decoration: underline; }
#imTextObject_16_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_16_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_16_tab0 .cf1 { color: #000000; }
#imTextObject_16_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_16_tab0 .cf3 { color: #000000; }
#imTextObject_16_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_16_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_16_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_16_tab0 .cb1 { background-color: #000000; }
#imTextObject_16_tab0 .cb2 { background-color: transparent; }
#imTextObject_16_tab0 .cb3 { background-color: #000000; }
#imCell_17 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 604px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_17 { position: relative; width: 472px; min-height: 520px; padding: 6px 6px 78px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_17 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_17_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_17_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_17_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_17_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_17_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_17_tab0 p { margin: 0; padding: 0; }
#imTextObject_17_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_17_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_17_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_17_tab0 .imUl { text-decoration: underline; }
#imTextObject_17_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_17_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_17_tab0 .cf1 { color: #000000; }
#imTextObject_17_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_17_tab0 .cf3 { color: #000000; }
#imTextObject_17_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_17_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_17_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_17_tab0 .cb1 { background-color: #000000; }
#imTextObject_17_tab0 .cb2 { background-color: transparent; }
#imTextObject_17_tab0 .cb3 { background-color: #000000; }
#imCell_18 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 604px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_18 { position: relative; width: 478px; min-height: 598px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_18 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_18_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_18_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_18_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_18_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_18_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_18_tab0 p { margin: 0; padding: 0; }
#imTextObject_18_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_18_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_18_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_18_tab0 .imUl { text-decoration: underline; }
#imTextObject_18_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_18_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_18_tab0 .cf1 { color: #000000; }
#imTextObject_18_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_18_tab0 .cf3 { color: #000000; }
#imTextObject_18_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_18_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_18_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_18_tab0 .cb1 { background-color: #000000; }
#imTextObject_18_tab0 .cb2 { background-color: transparent; }
#imTextObject_18_tab0 .cb3 { background-color: #000000; }
#imCell_20 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 484px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_20 { position: relative; width: 472px; min-height: 472px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_20 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_20_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_20_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_20_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_20_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_20_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_20_tab0 p { margin: 0; padding: 0; }
#imTextObject_20_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_20_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_20_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_20_tab0 .imUl { text-decoration: underline; }
#imTextObject_20_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_20_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_20_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_20_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_20_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_20_tab0 .cf1 { color: #000000; }
#imTextObject_20_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_20_tab0 .cf3 { color: #000000; }
#imTextObject_20_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_20_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_20_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_20_tab0 .cb1 { background-color: #000000; }
#imTextObject_20_tab0 .cb2 { background-color: transparent; }
#imTextObject_20_tab0 .cb3 { background-color: #000000; }
#imCell_21 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 484px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_21 { position: relative; width: 478px; min-height: 458px; padding: 3px 3px 23px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_21 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_21_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_21_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_21_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_21_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_21_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_21_tab0 p { margin: 0; padding: 0; }
#imTextObject_21_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_21_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_21_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_21_tab0 .imUl { text-decoration: underline; }
#imTextObject_21_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_21_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_21_tab0 .cf1 { color: #000000; }
#imTextObject_21_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_21_tab0 .cf3 { color: #000000; }
#imTextObject_21_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_21_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_21_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_21_tab0 .cb1 { background-color: #000000; }
#imTextObject_21_tab0 .cb2 { background-color: transparent; }
#imTextObject_21_tab0 .cb3 { background-color: #000000; }
#imCell_27 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 676px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_27 { position: relative; width: 472px; min-height: 592px; padding: 6px 6px 78px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_27 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_27_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_27_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_27_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_27_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_27_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_27_tab0 p { margin: 0; padding: 0; }
#imTextObject_27_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_27_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_27_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_27_tab0 .imUl { text-decoration: underline; }
#imTextObject_27_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_27_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_27_tab0 .cf1 { color: #000000; }
#imTextObject_27_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_27_tab0 .cf3 { color: #000000; }
#imTextObject_27_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_27_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_27_tab0 .fs16 { vertical-align: baseline; font-size: 8pt; line-height: 17px; *line-height: 1.55; }
#imTextObject_27_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_27_tab0 .cb1 { background-color: #000000; }
#imTextObject_27_tab0 .cb2 { background-color: transparent; }
#imTextObject_27_tab0 .cb3 { background-color: #000000; }
#imCell_28 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 676px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_28 { position: relative; width: 478px; min-height: 670px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_28 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_28_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_28_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_28_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_28_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_28_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_28_tab0 p { margin: 0; padding: 0; }
#imTextObject_28_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_28_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_28_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_28_tab0 .imUl { text-decoration: underline; }
#imTextObject_28_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_28_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_28_tab0 .cf1 { color: #000000; }
#imTextObject_28_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_28_tab0 .cf3 { color: #000000; }
#imTextObject_28_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_28_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_28_tab0 .cb1 { background-color: #000000; }
#imTextObject_28_tab0 .cb2 { background-color: transparent; }
#imTextObject_28_tab0 .cb3 { background-color: #000000; }
#imCell_30 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_30 { position: relative; width: 968px; min-height: 46px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_30 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_30_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_30_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_30_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_30_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_30_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_30_tab0 p { margin: 0; padding: 0; }
#imTextObject_30_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_30_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_30_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_30_tab0 .imUl { text-decoration: underline; }
#imTextObject_30_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_30_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_30_tab0 .cf1 { color: #000000; }
#imTextObject_30_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_30_tab0 .cf3 { color: #000000; }
#imTextObject_30_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_30_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_30_tab0 .cb1 { background-color: #000000; }
#imTextObject_30_tab0 .cb2 { background-color: transparent; }
#imTextObject_30_tab0 .cb3 { background-color: #000000; }
#imCell_31 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 411px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_31 { position: relative; width: 968px; min-height: 405px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_31 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_31_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_31_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_31_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_31_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_31_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_31_tab0 p { margin: 0; padding: 0; }
#imTextObject_31_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_31_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_31_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_31_tab0 .imUl { text-decoration: underline; }
#imTextObject_31_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_31_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_31_tab0 .cf1 { color: #000000; }
#imTextObject_31_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_31_tab0 .cf3 { color: #000000; }
#imTextObject_31_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_31_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_31_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_31_tab0 .cb1 { background-color: #000000; }
#imTextObject_31_tab0 .cb2 { background-color: transparent; }
#imTextObject_31_tab0 .cb3 { background-color: #000000; }
#imCell_32 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 127px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_32 { position: relative; width: 227px; min-height: 115px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_32 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_32_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_32_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_32_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_32_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_32_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_32_tab0 p { margin: 0; padding: 0; }
#imTextObject_32_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_32_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_32_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_32_tab0 .imUl { text-decoration: underline; }
#imTextObject_32_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_32_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_32_tab0 .cf1 { color: #000000; }
#imTextObject_32_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_32_tab0 .cf3 { color: #000000; }
#imTextObject_32_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_32_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_32_tab0 .cb1 { background-color: #000000; }
#imTextObject_32_tab0 .cb2 { background-color: transparent; }
#imTextObject_32_tab0 .cb3 { background-color: #000000; }
#imCell_33 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 127px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_33 { position: relative; width: 227px; min-height: 59px; padding: 6px 6px 62px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_33 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_33_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_33_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_33_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_33_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_33_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_33_tab0 p { margin: 0; padding: 0; }
#imTextObject_33_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_33_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 .imUl { text-decoration: underline; }
#imTextObject_33_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .cf1 { color: #000000; }
#imTextObject_33_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_33_tab0 .cf3 { color: #000000; }
#imTextObject_33_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_33_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_33_tab0 .cb1 { background-color: #000000; }
#imTextObject_33_tab0 .cb2 { background-color: transparent; }
#imTextObject_33_tab0 .cb3 { background-color: #000000; }
#imCell_34 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 127px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_34 { position: relative; width: 227px; min-height: 59px; padding: 6px 6px 62px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_34 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_34_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_34_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_34_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_34_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_34_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_34_tab0 p { margin: 0; padding: 0; }
#imTextObject_34_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_34_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_34_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_34_tab0 .imUl { text-decoration: underline; }
#imTextObject_34_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_34_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_34_tab0 .cf1 { color: #000000; }
#imTextObject_34_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_34_tab0 .cf3 { color: #000000; }
#imTextObject_34_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_34_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_34_tab0 .cb1 { background-color: #000000; }
#imTextObject_34_tab0 .cb2 { background-color: transparent; }
#imTextObject_34_tab0 .cb3 { background-color: #000000; }
#imCell_35 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 127px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_35 { position: relative; width: 227px; min-height: 59px; padding: 6px 6px 62px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_35 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_35_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_35_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_35_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_35_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_35_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_35_tab0 p { margin: 0; padding: 0; }
#imTextObject_35_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_35_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_35_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_35_tab0 .imUl { text-decoration: underline; }
#imTextObject_35_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_35_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_35_tab0 .cf1 { color: #000000; }
#imTextObject_35_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_35_tab0 .cf3 { color: #000000; }
#imTextObject_35_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_35_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_35_tab0 .cb1 { background-color: #000000; }
#imTextObject_35_tab0 .cb2 { background-color: transparent; }
#imTextObject_35_tab0 .cb3 { background-color: #000000; }
#imCell_36 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_36 { position: relative; width: 968px; min-height: 46px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_36 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_36_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_36_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_36_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_36_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_36_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_36_tab0 p { margin: 0; padding: 0; }
#imTextObject_36_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_36_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_36_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_36_tab0 .imUl { text-decoration: underline; }
#imTextObject_36_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_36_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_36_tab0 .cf1 { color: #000000; }
#imTextObject_36_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_36_tab0 .cf3 { color: #000000; }
#imTextObject_36_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_36_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_36_tab0 .cb1 { background-color: #000000; }
#imTextObject_36_tab0 .cb2 { background-color: transparent; }
#imTextObject_36_tab0 .cb3 { background-color: #000000; }
#imCell_37 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 108px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_37 { position: relative; width: 227px; min-height: 78px; padding: 6px 6px 24px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_37 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_37_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_37_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_37_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_37_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_37_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_37_tab0 p { margin: 0; padding: 0; }
#imTextObject_37_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_37_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_37_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_37_tab0 .imUl { text-decoration: underline; }
#imTextObject_37_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_37_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_37_tab0 .cf1 { color: #000000; }
#imTextObject_37_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_37_tab0 .cf3 { color: #000000; }
#imTextObject_37_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_37_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_37_tab0 .cb1 { background-color: #000000; }
#imTextObject_37_tab0 .cb2 { background-color: transparent; }
#imTextObject_37_tab0 .cb3 { background-color: #000000; }
#imCell_38 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 108px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_38 { position: relative; width: 227px; min-height: 78px; padding: 6px 6px 24px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_38 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_38_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_38_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_38_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_38_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_38_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_38_tab0 p { margin: 0; padding: 0; }
#imTextObject_38_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_38_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_38_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_38_tab0 .imUl { text-decoration: underline; }
#imTextObject_38_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_38_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_38_tab0 .cf1 { color: #000000; }
#imTextObject_38_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_38_tab0 .cf3 { color: #000000; }
#imTextObject_38_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_38_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_38_tab0 .cb1 { background-color: #000000; }
#imTextObject_38_tab0 .cb2 { background-color: transparent; }
#imTextObject_38_tab0 .cb3 { background-color: #000000; }
#imCell_39 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 108px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_39 { position: relative; width: 227px; min-height: 78px; padding: 6px 6px 24px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_39 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_39_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_39_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_39_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_39_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_39_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_39_tab0 p { margin: 0; padding: 0; }
#imTextObject_39_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_39_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_39_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_39_tab0 .imUl { text-decoration: underline; }
#imTextObject_39_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_39_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_39_tab0 .cf1 { color: #000000; }
#imTextObject_39_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_39_tab0 .cf3 { color: #000000; }
#imTextObject_39_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_39_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_39_tab0 .cb1 { background-color: #000000; }
#imTextObject_39_tab0 .cb2 { background-color: transparent; }
#imTextObject_39_tab0 .cb3 { background-color: #000000; }
#imCell_40 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 108px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_40 { position: relative; width: 227px; min-height: 96px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_40 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_40_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_40_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_40_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_40_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_40_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_40_tab0 p { margin: 0; padding: 0; }
#imTextObject_40_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_40_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_40_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_40_tab0 .imUl { text-decoration: underline; }
#imTextObject_40_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_40_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_40_tab0 .cf1 { color: #000000; }
#imTextObject_40_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_40_tab0 .cf3 { color: #000000; }
#imTextObject_40_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_40_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_40_tab0 .cb1 { background-color: #000000; }
#imTextObject_40_tab0 .cb2 { background-color: transparent; }
#imTextObject_40_tab0 .cb3 { background-color: #000000; }
#imCell_78 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 447px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_78 { position: relative; width: 472px; min-height: 435px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_78 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_78_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_78_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_78_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_78_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_78_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_78_tab0 p { margin: 0; padding: 0; }
#imTextObject_78_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_78_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_78_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_78_tab0 .imUl { text-decoration: underline; }
#imTextObject_78_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_78_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_78_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_78_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_78_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_78_tab0 .cf1 { color: #000000; }
#imTextObject_78_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_78_tab0 .cf3 { color: #000000; }
#imTextObject_78_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_78_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_78_tab0 .cb1 { background-color: #000000; }
#imTextObject_78_tab0 .cb2 { background-color: transparent; }
#imTextObject_78_tab0 .cb3 { background-color: #000000; }
#imCell_79 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 447px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_79 { position: relative; width: 478px; min-height: 397px; padding: 3px 3px 47px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_79 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_79_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_79_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_79_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_79_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_79_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_79_tab0 p { margin: 0; padding: 0; }
#imTextObject_79_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_79_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_79_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_79_tab0 .imUl { text-decoration: underline; }
#imTextObject_79_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_79_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_79_tab0 .cf1 { color: #000000; }
#imTextObject_79_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_79_tab0 .cf3 { color: #000000; }
#imTextObject_79_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_79_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_79_tab0 .cb1 { background-color: #000000; }
#imTextObject_79_tab0 .cb2 { background-color: transparent; }
#imTextObject_79_tab0 .cb3 { background-color: #000000; }
#imCell_80 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_80 { position: relative; width: 968px; min-height: 46px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_80 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_80_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_80_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_80_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_80_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_80_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_80_tab0 p { margin: 0; padding: 0; }
#imTextObject_80_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_80_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_80_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_80_tab0 .imUl { text-decoration: underline; }
#imTextObject_80_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_80_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_80_tab0 .cf1 { color: #000000; }
#imTextObject_80_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_80_tab0 .cf3 { color: #000000; }
#imTextObject_80_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_80_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_80_tab0 .cb1 { background-color: #000000; }
#imTextObject_80_tab0 .cb2 { background-color: transparent; }
#imTextObject_80_tab0 .cb3 { background-color: #000000; }
#imCell_81 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 89px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_81 { position: relative; width: 227px; min-height: 59px; padding: 6px 6px 24px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_81 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_81_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_81_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_81_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_81_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_81_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_81_tab0 p { margin: 0; padding: 0; }
#imTextObject_81_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_81_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 .imUl { text-decoration: underline; }
#imTextObject_81_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .cf1 { color: #000000; }
#imTextObject_81_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_81_tab0 .cf3 { color: #000000; }
#imTextObject_81_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_81_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_81_tab0 .cb1 { background-color: #000000; }
#imTextObject_81_tab0 .cb2 { background-color: transparent; }
#imTextObject_81_tab0 .cb3 { background-color: #000000; }
#imCell_82 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 89px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_82 { position: relative; width: 227px; min-height: 77px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_82 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_82_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_82_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_82_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_82_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_82_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_82_tab0 p { margin: 0; padding: 0; }
#imTextObject_82_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_82_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_82_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_82_tab0 .imUl { text-decoration: underline; }
#imTextObject_82_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_82_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_82_tab0 .cf1 { color: #000000; }
#imTextObject_82_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_82_tab0 .cf3 { color: #000000; }
#imTextObject_82_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_82_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_82_tab0 .cb1 { background-color: #000000; }
#imTextObject_82_tab0 .cb2 { background-color: transparent; }
#imTextObject_82_tab0 .cb3 { background-color: #000000; }
#imCell_84 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 89px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_84 { position: relative; width: 227px; min-height: 77px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_84 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_84_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_84_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_84_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_84_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_84_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_84_tab0 p { margin: 0; padding: 0; }
#imTextObject_84_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_84_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 .imUl { text-decoration: underline; }
#imTextObject_84_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .cf1 { color: #000000; }
#imTextObject_84_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_84_tab0 .cf3 { color: #000000; }
#imTextObject_84_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_84_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_84_tab0 .cb1 { background-color: #000000; }
#imTextObject_84_tab0 .cb2 { background-color: transparent; }
#imTextObject_84_tab0 .cb3 { background-color: #000000; }
#imCell_85 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 522px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_85 { position: relative; width: 472px; min-height: 386px; padding: 6px 6px 130px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_85 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_85_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_85_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_85_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_85_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_85_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_85_tab0 p { margin: 0; padding: 0; }
#imTextObject_85_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_85_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_85_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_85_tab0 .imUl { text-decoration: underline; }
#imTextObject_85_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_85_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_85_tab0 .ff2 { font-family: "Arial", sans-serif; }
#imTextObject_85_tab0 .cf1 { color: #000000; }
#imTextObject_85_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_85_tab0 .cf3 { color: #000000; }
#imTextObject_85_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_85_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_85_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_85_tab0 .cb1 { background-color: #000000; }
#imTextObject_85_tab0 .cb2 { background-color: transparent; }
#imTextObject_85_tab0 .cb3 { background-color: #000000; }
#imCell_86 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 522px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_86 { position: relative; width: 478px; min-height: 516px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_86 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_86_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_86_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_86_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_86_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_86_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_86_tab0 p { margin: 0; padding: 0; }
#imTextObject_86_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_86_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_86_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_86_tab0 .imUl { text-decoration: underline; }
#imTextObject_86_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_86_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_86_tab0 .cf1 { color: #000000; }
#imTextObject_86_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_86_tab0 .cf3 { color: #000000; }
#imTextObject_86_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_86_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_86_tab0 .cb1 { background-color: #000000; }
#imTextObject_86_tab0 .cb2 { background-color: transparent; }
#imTextObject_86_tab0 .cb3 { background-color: #000000; }
#imCell_112 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_112 { position: relative; width: 960px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_112 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_112_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_112_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_112_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_112_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_112_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_112_tab0 p { margin: 0; padding: 0; }
#imTextObject_112_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_112_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_112_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_112_tab0 .imUl { text-decoration: underline; }
#imTextObject_112_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_112_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_112_tab0 .cf1 { color: #000000; }
#imTextObject_112_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_112_tab0 .cf3 { color: #000000; }
#imTextObject_112_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_112_tab0 .cb1 { background-color: #000000; }
#imTextObject_112_tab0 .cb2 { background-color: transparent; }
#imTextObject_112_tab0 .cb3 { background-color: #000000; }
#imCell_83 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 89px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_83 { position: relative; width: 227px; min-height: 59px; padding: 6px 6px 24px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_83 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_83_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_83_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_83_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_83_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_83_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_83_tab0 p { margin: 0; padding: 0; }
#imTextObject_83_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_83_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_83_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_83_tab0 .imUl { text-decoration: underline; }
#imTextObject_83_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_83_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_83_tab0 .ff2 { font-family: "Calibri", sans-serif; }
#imTextObject_83_tab0 .cf1 { color: #000000; }
#imTextObject_83_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_83_tab0 .cf3 { color: #FF0000; }
#imTextObject_83_tab0 .cf4 { color: #000000; }
#imTextObject_83_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_83_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_83_tab0 .cb1 { background-color: #000000; }
#imTextObject_83_tab0 .cb2 { background-color: transparent; }
#imTextObject_83_tab0 .cb3 { background-color: #FF0000; }
#imTextObject_83_tab0 .cb4 { background-color: #000000; }
#imCell_15 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 797px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_15 { position: relative; width: 472px; min-height: 785px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_15 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_15_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_15_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_15_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_15_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_15_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_15_tab0 p { margin: 0; padding: 0; }
#imTextObject_15_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_15_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_15_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_15_tab0 .imUl { text-decoration: underline; }
#imTextObject_15_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_15_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_15_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_15_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_15_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_15_tab0 .cf1 { color: #000000; }
#imTextObject_15_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_15_tab0 .cf3 { color: #000000; }
#imTextObject_15_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_15_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_15_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_15_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_15_tab0 .cb1 { background-color: #000000; }
#imTextObject_15_tab0 .cb2 { background-color: transparent; }
#imTextObject_15_tab0 .cb3 { background-color: #000000; }
#imCell_113 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 381px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_113 { position: relative; width: 968px; min-height: 375px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_113 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_113_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_113_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_113_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_113_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_113_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_113_tab0 p { margin: 0; padding: 0; }
#imTextObject_113_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_113_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_113_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_113_tab0 .imUl { text-decoration: underline; }
#imTextObject_113_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_113_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_113_tab0 .cf1 { color: #000000; }
#imTextObject_113_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_113_tab0 .cf3 { color: #000000; }
#imTextObject_113_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_113_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_113_tab0 .cb1 { background-color: #000000; }
#imTextObject_113_tab0 .cb2 { background-color: transparent; }
#imTextObject_113_tab0 .cb3 { background-color: #000000; }
#imCell_114 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 325px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_114 { position: relative; width: 968px; min-height: 319px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_114 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_114_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_114_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_114_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_114_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_114_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_114_tab0 p { margin: 0; padding: 0; }
#imTextObject_114_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_114_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_114_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_114_tab0 .imUl { text-decoration: underline; }
#imTextObject_114_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_114_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_114_tab0 .cf1 { color: #000000; }
#imTextObject_114_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_114_tab0 .cf3 { color: #000000; }
#imTextObject_114_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_114_tab0 .cb1 { background-color: #000000; }
#imTextObject_114_tab0 .cb2 { background-color: transparent; }
#imTextObject_114_tab0 .cb3 { background-color: #000000; }
#imCell_13 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 449px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_13 { position: relative; width: 478px; min-height: 443px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_13 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_13_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_13_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_13_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_13_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_13_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_13_tab0 p { margin: 0; padding: 0; }
#imTextObject_13_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_13_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_13_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_13_tab0 .imUl { text-decoration: underline; }
#imTextObject_13_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_13_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_13_tab0 .cf1 { color: #000000; }
#imTextObject_13_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_13_tab0 .cf3 { color: #000000; }
#imTextObject_13_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_13_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_13_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_13_tab0 .cb1 { background-color: #000000; }
#imTextObject_13_tab0 .cb2 { background-color: transparent; }
#imTextObject_13_tab0 .cb3 { background-color: #000000; }
