#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 966px;}
#imCell_4 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 45px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_4 { position: relative; width: 968px; min-height: 39px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_4_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_4_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_4_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_4_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_4_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_4_tab0 p { margin: 0; padding: 0; }
#imTextObject_4_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_4_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 .imUl { text-decoration: underline; }
#imTextObject_4_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_4_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_4_tab0 .cf1 { color: #000000; }
#imTextObject_4_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_4_tab0 .cf3 { color: #008020; }
#imTextObject_4_tab0 .cf4 { color: #000000; }
#imTextObject_4_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_4_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_4_tab0 .cb1 { background-color: #000000; }
#imTextObject_4_tab0 .cb2 { background-color: transparent; }
#imTextObject_4_tab0 .cb3 { background-color: #008020; }
#imTextObject_4_tab0 .cb4 { background-color: #000000; }
#imCell_71 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_71 { position: relative; width: 960px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_71 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_71_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_71_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_71_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_71_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_71_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_71_tab0 p { margin: 0; padding: 0; }
#imTextObject_71_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_71_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_71_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_71_tab0 .imUl { text-decoration: underline; }
#imTextObject_71_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_71_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_71_tab0 .cf1 { color: #000000; }
#imTextObject_71_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_71_tab0 .cf3 { color: #000000; }
#imTextObject_71_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_71_tab0 .cb1 { background-color: #000000; }
#imTextObject_71_tab0 .cb2 { background-color: transparent; }
#imTextObject_71_tab0 .cb3 { background-color: #000000; }
#imCell_1 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 172px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 968px; min-height: 166px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #000000; }
#imCell_72 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 356px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_72 { position: relative; width: 478px; min-height: 310px; padding: 3px 3px 43px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_72 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_72_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_72_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_72_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_72_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_72_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_72_tab0 p { margin: 0; padding: 0; }
#imTextObject_72_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_72_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 .imUl { text-decoration: underline; }
#imTextObject_72_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .cf1 { color: #000000; }
#imTextObject_72_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_72_tab0 .cf3 { color: #000000; }
#imTextObject_72_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_72_tab0 .cb1 { background-color: #000000; }
#imTextObject_72_tab0 .cb2 { background-color: transparent; }
#imTextObject_72_tab0 .cb3 { background-color: #000000; }
#imCell_73 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 66px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_73 { position: relative; width: 968px; min-height: 60px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_73 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_73_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_73_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_73_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_73_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_73_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_73_tab0 p { margin: 0; padding: 0; }
#imTextObject_73_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_73_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_73_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_73_tab0 .imUl { text-decoration: underline; }
#imTextObject_73_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_73_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_73_tab0 .cf1 { color: #000000; }
#imTextObject_73_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_73_tab0 .cf3 { color: #000000; }
#imTextObject_73_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_73_tab0 .cb1 { background-color: #000000; }
#imTextObject_73_tab0 .cb2 { background-color: transparent; }
#imTextObject_73_tab0 .cb3 { background-color: #000000; }
#imCell_74 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 356px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_74 { position: relative; width: 478px; min-height: 350px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_74 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_74_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_74_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_74_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_74_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_74_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_74_tab0 p { margin: 0; padding: 0; }
#imTextObject_74_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_74_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_74_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_74_tab0 .imUl { text-decoration: underline; }
#imTextObject_74_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_74_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_74_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_74_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_74_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_74_tab0 .cf1 { color: #000000; }
#imTextObject_74_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_74_tab0 .cf3 { color: #000000; }
#imTextObject_74_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_74_tab0 .cb1 { background-color: #000000; }
#imTextObject_74_tab0 .cb2 { background-color: transparent; }
#imTextObject_74_tab0 .cb3 { background-color: #000000; }
