#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 966px;}
#imCell_63 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 136px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_63 { position: relative; width: 968px; min-height: 130px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_63 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_63_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_63_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_63_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_63_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_63_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_63_tab0 p { margin: 0; padding: 0; }
#imTextObject_63_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_63_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_63_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_63_tab0 .imUl { text-decoration: underline; }
#imTextObject_63_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_63_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_63_tab0 .cf1 { color: #000000; }
#imTextObject_63_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_63_tab0 .cf3 { color: #000000; }
#imTextObject_63_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_63_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_63_tab0 .cb1 { background-color: #000000; }
#imTextObject_63_tab0 .cb2 { background-color: transparent; }
#imTextObject_63_tab0 .cb3 { background-color: #000000; }
#imCell_64 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 857px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_64 { position: relative; width: 472px; min-height: 845px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_64 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_64_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_64_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_64_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_64_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_64_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_64_tab0 p { margin: 0; padding: 0; }
#imTextObject_64_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_64_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_64_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_64_tab0 .imUl { text-decoration: underline; }
#imTextObject_64_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_64_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_64_tab0 .cf1 { color: #000000; }
#imTextObject_64_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_64_tab0 .cf3 { color: #000000; }
#imTextObject_64_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_64_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_64_tab0 .cb1 { background-color: #000000; }
#imTextObject_64_tab0 .cb2 { background-color: transparent; }
#imTextObject_64_tab0 .cb3 { background-color: #000000; }
#imCell_65 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 298px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_65 { position: relative; width: 478px; min-height: 292px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_65 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_65 > a { display: block; }
#imCell_72 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 553px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_72 { position: relative; width: 472px; min-height: 425px; padding: 6px 6px 122px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_72 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_72_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_72_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_72_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_72_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_72_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_72_tab0 p { margin: 0; padding: 0; }
#imTextObject_72_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_72_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 .imUl { text-decoration: underline; }
#imTextObject_72_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .cf1 { color: #000000; }
#imTextObject_72_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_72_tab0 .cf3 { color: #000000; }
#imTextObject_72_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_72_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_72_tab0 .cb1 { background-color: #000000; }
#imTextObject_72_tab0 .cb2 { background-color: transparent; }
#imTextObject_72_tab0 .cb3 { background-color: #000000; }
#imCell_110 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 47px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_110 { position: relative; width: 968px; min-height: 41px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_110 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_110_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_110_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_110_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_110_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_110_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_110_tab0 p { margin: 0; padding: 0; }
#imTextObject_110_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_110_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_110_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_110_tab0 .imUl { text-decoration: underline; }
#imTextObject_110_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_110_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_110_tab0 .cf1 { color: #000000; }
#imTextObject_110_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_110_tab0 .cf3 { color: #0030BF; }
#imTextObject_110_tab0 .cf4 { color: #000000; }
#imTextObject_110_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_110_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_110_tab0 .cb1 { background-color: #000000; }
#imTextObject_110_tab0 .cb2 { background-color: transparent; }
#imTextObject_110_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_110_tab0 .cb4 { background-color: #000000; }
#imCell_111 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_111 { position: relative; width: 960px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_111 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_111_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_111_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_111_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_111_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_111_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_111_tab0 p { margin: 0; padding: 0; }
#imTextObject_111_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_111_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_111_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_111_tab0 .imUl { text-decoration: underline; }
#imTextObject_111_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_111_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_111_tab0 .cf1 { color: #000000; }
#imTextObject_111_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_111_tab0 .cf3 { color: #000000; }
#imTextObject_111_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_111_tab0 .cb1 { background-color: #000000; }
#imTextObject_111_tab0 .cb2 { background-color: transparent; }
#imTextObject_111_tab0 .cb3 { background-color: #000000; }
