#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 961px;}
#imCell_3 { display: block; position: relative; overflow: hidden; width: 477px; min-height: 488px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_3 { position: relative; width: 477px; min-height: 488px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imCellStyle_3 > a { display: block; }
#imCell_4 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 72px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_4 { position: relative; width: 957px; min-height: 60px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_4_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_4_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_4_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_4_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_4_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_4_tab0 p { margin: 0; padding: 0; }
#imTextObject_4_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_4_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_4_tab0 .imUl { text-decoration: underline; }
#imTextObject_4_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_4_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_4_tab0 .cf1 { color: #000000; }
#imTextObject_4_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_4_tab0 .cf3 { color: #000000; }
#imTextObject_4_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_4_tab0 .cb1 { background-color: #000000; }
#imTextObject_4_tab0 .cb2 { background-color: transparent; }
#imTextObject_4_tab0 .cb3 { background-color: #000000; }
#imCell_21 { display: block; position: relative; overflow: hidden; width: 482px; min-height: 492px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_21 { position: relative; width: 470px; min-height: 446px; padding: 6px 6px 40px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_21 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_21_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_21_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_21_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_21_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_21_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_21_tab0 p { margin: 0; padding: 0; }
#imTextObject_21_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_21_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_21_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_21_tab0 .imUl { text-decoration: underline; }
#imTextObject_21_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_21_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_21_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_21_tab0 .ff3 { font-family: "Wingdings", sans-serif; }
#imTextObject_21_tab0 .cf1 { color: #000000; }
#imTextObject_21_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_21_tab0 .cf3 { color: #000000; }
#imTextObject_21_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_21_tab0 .cb1 { background-color: #000000; }
#imTextObject_21_tab0 .cb2 { background-color: transparent; }
#imTextObject_21_tab0 .cb3 { background-color: #000000; }
#imCell_22 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_22 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_22 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_22_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_22_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_22_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_22_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_22_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_22_tab0 p { margin: 0; padding: 0; }
#imTextObject_22_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_22_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_22_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_22_tab0 .imUl { text-decoration: underline; }
#imTextObject_22_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_22_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_22_tab0 .cf1 { color: #000000; }
#imTextObject_22_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_22_tab0 .cf3 { color: #0000C0; }
#imTextObject_22_tab0 .cf4 { color: #000000; }
#imTextObject_22_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_22_tab0 .cb1 { background-color: #000000; }
#imTextObject_22_tab0 .cb2 { background-color: transparent; }
#imTextObject_22_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_22_tab0 .cb4 { background-color: #000000; }
#imCell_32 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_32 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_32 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_32_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_32_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_32_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_32_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_32_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_32_tab0 p { margin: 0; padding: 0; }
#imTextObject_32_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_32_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_32_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_32_tab0 .imUl { text-decoration: underline; }
#imTextObject_32_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_32_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_32_tab0 .cf1 { color: #000000; }
#imTextObject_32_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_32_tab0 .cf3 { color: #0000C0; }
#imTextObject_32_tab0 .cf4 { color: #000000; }
#imTextObject_32_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_32_tab0 .cb1 { background-color: #000000; }
#imTextObject_32_tab0 .cb2 { background-color: transparent; }
#imTextObject_32_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_32_tab0 .cb4 { background-color: #000000; }
#imCell_33 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_33 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_33 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_33_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_33_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_33_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_33_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_33_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_33_tab0 p { margin: 0; padding: 0; }
#imTextObject_33_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_33_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 .imUl { text-decoration: underline; }
#imTextObject_33_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .cf1 { color: #000000; }
#imTextObject_33_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_33_tab0 .cf3 { color: #0000C0; }
#imTextObject_33_tab0 .cf4 { color: #000000; }
#imTextObject_33_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_33_tab0 .cb1 { background-color: #000000; }
#imTextObject_33_tab0 .cb2 { background-color: transparent; }
#imTextObject_33_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_33_tab0 .cb4 { background-color: #000000; }
#imCell_34 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_34 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_34 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_34_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_34_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_34_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_34_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_34_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_34_tab0 p { margin: 0; padding: 0; }
#imTextObject_34_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_34_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_34_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_34_tab0 .imUl { text-decoration: underline; }
#imTextObject_34_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_34_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_34_tab0 .cf1 { color: #000000; }
#imTextObject_34_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_34_tab0 .cf3 { color: #0000C0; }
#imTextObject_34_tab0 .cf4 { color: #000000; }
#imTextObject_34_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_34_tab0 .cb1 { background-color: #000000; }
#imTextObject_34_tab0 .cb2 { background-color: transparent; }
#imTextObject_34_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_34_tab0 .cb4 { background-color: #000000; }
#imCell_37 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_37 { position: relative; width: 313px; min-height: 28px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_37 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_37_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_37_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_37_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_37_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_37_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_37_tab0 p { margin: 0; padding: 0; }
#imTextObject_37_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_37_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_37_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_37_tab0 .imUl { text-decoration: underline; }
#imTextObject_37_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_37_tab0 .ff1 { font-family: "Cooper Black", serif; }
#imTextObject_37_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_37_tab0 .cf1 { color: #000000; }
#imTextObject_37_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_37_tab0 .cf3 { color: #008000; }
#imTextObject_37_tab0 .cf4 { color: #000000; }
#imTextObject_37_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_37_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_37_tab0 .cb1 { background-color: #000000; }
#imTextObject_37_tab0 .cb2 { background-color: transparent; }
#imTextObject_37_tab0 .cb3 { background-color: #008000; }
#imTextObject_37_tab0 .cb4 { background-color: #000000; }
#imCell_38 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_38 { position: relative; width: 313px; min-height: 28px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_38 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_38_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_38_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_38_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_38_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_38_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_38_tab0 p { margin: 0; padding: 0; }
#imTextObject_38_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_38_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_38_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_38_tab0 .imUl { text-decoration: underline; }
#imTextObject_38_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_38_tab0 .ff1 { font-family: "Cooper Black", serif; }
#imTextObject_38_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_38_tab0 .cf1 { color: #000000; }
#imTextObject_38_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_38_tab0 .cf3 { color: #008000; }
#imTextObject_38_tab0 .cf4 { color: #000000; }
#imTextObject_38_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_38_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_38_tab0 .cb1 { background-color: #000000; }
#imTextObject_38_tab0 .cb2 { background-color: transparent; }
#imTextObject_38_tab0 .cb3 { background-color: #008000; }
#imTextObject_38_tab0 .cb4 { background-color: #000000; }
#imCell_40 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_40 { position: relative; width: 313px; min-height: 32px; padding: 3px 3px 17px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_40 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_40_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_40_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_40_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_40_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_40_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_40_tab0 p { margin: 0; padding: 0; }
#imTextObject_40_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_40_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_40_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_40_tab0 .imUl { text-decoration: underline; }
#imTextObject_40_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_40_tab0 .ff1 { font-family: "Cooper Black", serif; }
#imTextObject_40_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_40_tab0 .cf1 { color: #000000; }
#imTextObject_40_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_40_tab0 .cf3 { color: #008000; }
#imTextObject_40_tab0 .cf4 { color: #000000; }
#imTextObject_40_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_40_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_40_tab0 .fs36 { vertical-align: baseline; font-size: 18pt; line-height: 31px;}
#imTextObject_40_tab0 .cb1 { background-color: #000000; }
#imTextObject_40_tab0 .cb2 { background-color: transparent; }
#imTextObject_40_tab0 .cb3 { background-color: #008000; }
#imTextObject_40_tab0 .cb4 { background-color: #000000; }
#imCell_52 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 47px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_52 { position: relative; width: 963px; min-height: 41px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_52 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_52_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_52_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_52_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_52_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_52_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_52_tab0 p { margin: 0; padding: 0; }
#imTextObject_52_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_52_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_52_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_52_tab0 .imUl { text-decoration: underline; }
#imTextObject_52_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_52_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_52_tab0 .cf1 { color: #000000; }
#imTextObject_52_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_52_tab0 .cf3 { color: #0030BF; }
#imTextObject_52_tab0 .cf4 { color: #000000; }
#imTextObject_52_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_52_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_52_tab0 .cb1 { background-color: #000000; }
#imTextObject_52_tab0 .cb2 { background-color: transparent; }
#imTextObject_52_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_52_tab0 .cb4 { background-color: #000000; }
#imCell_53 { display: block; position: relative; overflow: hidden; width: 965px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_53 { position: relative; width: 955px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_53 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_53_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_53_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_53_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_53_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_53_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_53_tab0 p { margin: 0; padding: 0; }
#imTextObject_53_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_53_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_53_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_53_tab0 .imUl { text-decoration: underline; }
#imTextObject_53_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_53_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_53_tab0 .cf1 { color: #000000; }
#imTextObject_53_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_53_tab0 .cf3 { color: #000000; }
#imTextObject_53_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_53_tab0 .cb1 { background-color: #000000; }
#imTextObject_53_tab0 .cb2 { background-color: transparent; }
#imTextObject_53_tab0 .cb3 { background-color: #000000; }
#imCell_51 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 120px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_51 { position: relative; width: 963px; min-height: 114px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_51 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_51 > a { display: block; }
#imCell_48 { display: block; position: relative; overflow: hidden; width: 965px; min-height: 62px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_48 { position: relative; width: 965px; min-height: 62px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_48 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_48_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_48_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_48_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_48_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_48_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_48_tab0 p { margin: 0; padding: 0; }
#imTextObject_48_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_48_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_48_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_48_tab0 .imUl { text-decoration: underline; }
#imTextObject_48_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_48_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_48_tab0 .cf1 { color: #000000; }
#imTextObject_48_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_48_tab0 .cf3 { color: #008000; }
#imTextObject_48_tab0 .cf4 { color: #000000; }
#imTextObject_48_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_48_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_48_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_48_tab0 .cb1 { background-color: #000000; }
#imTextObject_48_tab0 .cb2 { background-color: transparent; }
#imTextObject_48_tab0 .cb3 { background-color: #008000; }
#imTextObject_48_tab0 .cb4 { background-color: #000000; }
#imCell_54 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_54 { position: relative; width: 313px; min-height: 28px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_54 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_54_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_54_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_54_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_54_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_54_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_54_tab0 p { margin: 0; padding: 0; }
#imTextObject_54_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_54_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_54_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_54_tab0 .imUl { text-decoration: underline; }
#imTextObject_54_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_54_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_54_tab0 .ff2 { font-family: "Cooper Black", serif; }
#imTextObject_54_tab0 .cf1 { color: #000000; }
#imTextObject_54_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_54_tab0 .cf3 { color: #008000; }
#imTextObject_54_tab0 .cf4 { color: #000000; }
#imTextObject_54_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_54_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_54_tab0 .cb1 { background-color: #000000; }
#imTextObject_54_tab0 .cb2 { background-color: transparent; }
#imTextObject_54_tab0 .cb3 { background-color: #008000; }
#imTextObject_54_tab0 .cb4 { background-color: #000000; }
#imCell_55 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_55 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_55 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_55_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_55_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_55_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_55_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_55_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_55_tab0 p { margin: 0; padding: 0; }
#imTextObject_55_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_55_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_55_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_55_tab0 .imUl { text-decoration: underline; }
#imTextObject_55_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_55_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_55_tab0 .cf1 { color: #000000; }
#imTextObject_55_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_55_tab0 .cf3 { color: #0000C0; }
#imTextObject_55_tab0 .cf4 { color: #000000; }
#imTextObject_55_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_55_tab0 .cb1 { background-color: #000000; }
#imTextObject_55_tab0 .cb2 { background-color: transparent; }
#imTextObject_55_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_55_tab0 .cb4 { background-color: #000000; }
#imCell_56 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_56 { position: relative; width: 313px; min-height: 28px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_56 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_56_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_56_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_56_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_56_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_56_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_56_tab0 p { margin: 0; padding: 0; }
#imTextObject_56_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_56_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_56_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_56_tab0 .imUl { text-decoration: underline; }
#imTextObject_56_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_56_tab0 .ff1 { font-family: "Cooper Black", serif; }
#imTextObject_56_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_56_tab0 .cf1 { color: #000000; }
#imTextObject_56_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_56_tab0 .cf3 { color: #008000; }
#imTextObject_56_tab0 .cf4 { color: #000000; }
#imTextObject_56_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_56_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_56_tab0 .cb1 { background-color: #000000; }
#imTextObject_56_tab0 .cb2 { background-color: transparent; }
#imTextObject_56_tab0 .cb3 { background-color: #008000; }
#imTextObject_56_tab0 .cb4 { background-color: #000000; }
#imCell_57 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_57 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_57 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_57_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_57_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_57_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_57_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_57_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_57_tab0 p { margin: 0; padding: 0; }
#imTextObject_57_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_57_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_57_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_57_tab0 .imUl { text-decoration: underline; }
#imTextObject_57_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_57_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_57_tab0 .cf1 { color: #000000; }
#imTextObject_57_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_57_tab0 .cf3 { color: #0000C0; }
#imTextObject_57_tab0 .cf4 { color: #000000; }
#imTextObject_57_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_57_tab0 .cb1 { background-color: #000000; }
#imTextObject_57_tab0 .cb2 { background-color: transparent; }
#imTextObject_57_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_57_tab0 .cb4 { background-color: #000000; }
#imCell_58 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_58 { position: relative; width: 313px; min-height: 28px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_58 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_58_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_58_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_58_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_58_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_58_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_58_tab0 p { margin: 0; padding: 0; }
#imTextObject_58_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_58_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_58_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_58_tab0 .imUl { text-decoration: underline; }
#imTextObject_58_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_58_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_58_tab0 .ff2 { font-family: "Cooper Black", serif; }
#imTextObject_58_tab0 .cf1 { color: #000000; }
#imTextObject_58_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_58_tab0 .cf3 { color: #008000; }
#imTextObject_58_tab0 .cf4 { color: #000000; }
#imTextObject_58_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_58_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_58_tab0 .cb1 { background-color: #000000; }
#imTextObject_58_tab0 .cb2 { background-color: transparent; }
#imTextObject_58_tab0 .cb3 { background-color: #008000; }
#imTextObject_58_tab0 .cb4 { background-color: #000000; }
#imCell_59 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_59 { position: relative; width: 313px; min-height: 28px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_59 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_59_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_59_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_59_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_59_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_59_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_59_tab0 p { margin: 0; padding: 0; }
#imTextObject_59_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_59_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_59_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_59_tab0 .imUl { text-decoration: underline; }
#imTextObject_59_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_59_tab0 .ff1 { font-family: "Cooper Black", serif; }
#imTextObject_59_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_59_tab0 .cf1 { color: #000000; }
#imTextObject_59_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_59_tab0 .cf3 { color: #008000; }
#imTextObject_59_tab0 .cf4 { color: #000000; }
#imTextObject_59_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_59_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_59_tab0 .cb1 { background-color: #000000; }
#imTextObject_59_tab0 .cb2 { background-color: transparent; }
#imTextObject_59_tab0 .cb3 { background-color: #008000; }
#imTextObject_59_tab0 .cb4 { background-color: #000000; }
#imCell_60 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_60 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_60 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_60_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_60_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_60_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_60_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_60_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_60_tab0 p { margin: 0; padding: 0; }
#imTextObject_60_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_60_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_60_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_60_tab0 .imUl { text-decoration: underline; }
#imTextObject_60_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_60_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_60_tab0 .cf1 { color: #000000; }
#imTextObject_60_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_60_tab0 .cf3 { color: #0000C0; }
#imTextObject_60_tab0 .cf4 { color: #000000; }
#imTextObject_60_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_60_tab0 .cb1 { background-color: #000000; }
#imTextObject_60_tab0 .cb2 { background-color: transparent; }
#imTextObject_60_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_60_tab0 .cb4 { background-color: #000000; }
#imCell_61 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_61 { position: relative; width: 313px; min-height: 28px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_61 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_61_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_61_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_61_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_61_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_61_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_61_tab0 p { margin: 0; padding: 0; }
#imTextObject_61_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_61_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_61_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_61_tab0 .imUl { text-decoration: underline; }
#imTextObject_61_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_61_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_61_tab0 .ff2 { font-family: "Cooper Black", serif; }
#imTextObject_61_tab0 .cf1 { color: #000000; }
#imTextObject_61_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_61_tab0 .cf3 { color: #008000; }
#imTextObject_61_tab0 .cf4 { color: #000000; }
#imTextObject_61_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_61_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_61_tab0 .cb1 { background-color: #000000; }
#imTextObject_61_tab0 .cb2 { background-color: transparent; }
#imTextObject_61_tab0 .cb3 { background-color: #008000; }
#imTextObject_61_tab0 .cb4 { background-color: #000000; }
#imCell_62 { display: block; position: relative; overflow: hidden; width: 644px; min-height: 52px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_62 { position: relative; width: 632px; min-height: 40px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_62 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_62_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_62_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_62_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_62_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_62_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_62_tab0 p { margin: 0; padding: 0; }
#imTextObject_62_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_62_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_62_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_62_tab0 .imUl { text-decoration: underline; }
#imTextObject_62_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_62_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_62_tab0 .cf1 { color: #000000; }
#imTextObject_62_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_62_tab0 .cf3 { color: #0000C0; }
#imTextObject_62_tab0 .cf4 { color: #000000; }
#imTextObject_62_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_62_tab0 .cb1 { background-color: #000000; }
#imTextObject_62_tab0 .cb2 { background-color: transparent; }
#imTextObject_62_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_62_tab0 .cb4 { background-color: #000000; }
