#imCell_16 { display: block; position: relative; overflow: hidden; width: 639px; min-height: 181px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_16 { position: relative; width: 639px; min-height: 181px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_16 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_16_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_16_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_16_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_16_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_16_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_16_tab0 p { margin: 0; padding: 0; }
#imTextObject_16_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_16_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_16_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_16_tab0 .imUl { text-decoration: underline; }
#imTextObject_16_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_16_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_16_tab0 .cf1 { color: #000000; }
#imTextObject_16_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_16_tab0 .cf3 { color: #000000; }
#imTextObject_16_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_16_tab0 .cb1 { background-color: #000000; }
#imTextObject_16_tab0 .cb2 { background-color: transparent; }
#imTextObject_16_tab0 .cb3 { background-color: #000000; }
#imCell_27 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 31px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_27 { position: relative; width: 959px; min-height: 20px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_27 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_27_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_27_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_27_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_27_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_27_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_27_tab0 p { margin: 0; padding: 0; }
#imTextObject_27_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_27_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_27_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_27_tab0 .imUl { text-decoration: underline; }
#imTextObject_27_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_27_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_27_tab0 .cf1 { color: #000000; }
#imTextObject_27_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_27_tab0 .cf3 { color: #000000; }
#imTextObject_27_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_27_tab0 .cb1 { background-color: #000000; }
#imTextObject_27_tab0 .cb2 { background-color: transparent; }
#imTextObject_27_tab0 .cb3 { background-color: #000000; }
#imCell_28 { display: block; position: relative; overflow: hidden; width: 324px; min-height: 320px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_28 { position: relative; width: 318px; min-height: 314px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_28 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_28 > a { display: block; }
#imCell_29 { display: block; position: relative; overflow: hidden; width: 324px; min-height: 107px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_29 { position: relative; width: 318px; min-height: 101px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_29 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_29_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_29_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_29_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_29_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_29_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_29_tab0 p { margin: 0; padding: 0; }
#imTextObject_29_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_29_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_29_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_29_tab0 .imUl { text-decoration: underline; }
#imTextObject_29_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_29_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_29_tab0 .cf1 { color: #000000; }
#imTextObject_29_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_29_tab0 .cf3 { color: #000000; }
#imTextObject_29_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_29_tab0 .cb1 { background-color: #000000; }
#imTextObject_29_tab0 .cb2 { background-color: transparent; }
#imTextObject_29_tab0 .cb3 { background-color: #000000; }
#imCell_31 { display: block; position: relative; overflow: hidden; width: 316px; min-height: 464px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_31 { position: relative; width: 306px; min-height: 436px; padding: 5px 5px 23px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_31 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: #C0C0C0; }
#imTextObject_31_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_31_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_31_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_31_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_31_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_31_tab0 p { margin: 0; padding: 0; }
#imTextObject_31_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_31_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_31_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_31_tab0 .imUl { text-decoration: underline; }
#imTextObject_31_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_31_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_31_tab0 .cf1 { color: #000000; }
#imTextObject_31_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_31_tab0 .cf3 { color: #0000C0; }
#imTextObject_31_tab0 .cf4 { color: #000000; }
#imTextObject_31_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_31_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_31_tab0 .cb1 { background-color: #000000; }
#imTextObject_31_tab0 .cb2 { background-color: transparent; }
#imTextObject_31_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_31_tab0 .cb4 { background-color: #000000; }
#imCell_32 { display: block; position: relative; overflow: hidden; width: 313px; min-height: 464px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_32 { position: relative; width: 303px; min-height: 454px; padding: 5px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_32 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: #C0C0C0; }
#imTextObject_32_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_32_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_32_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_32_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_32_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_32_tab0 p { margin: 0; padding: 0; }
#imTextObject_32_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_32_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_32_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_32_tab0 .imUl { text-decoration: underline; }
#imTextObject_32_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_32_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_32_tab0 .cf1 { color: #000000; }
#imTextObject_32_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_32_tab0 .cf3 { color: #0000C0; }
#imTextObject_32_tab0 .cf4 { color: #000000; }
#imTextObject_32_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_32_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_32_tab0 .cb1 { background-color: #000000; }
#imTextObject_32_tab0 .cb2 { background-color: transparent; }
#imTextObject_32_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_32_tab0 .cb4 { background-color: #000000; }
#imCell_2 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 172px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_2 { position: relative; width: 969px; min-height: 172px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imCellStyle_2 > a { display: block; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 639px; min-height: 66px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_3 { position: relative; width: 639px; min-height: 66px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_3_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #000000; }
#imCell_1 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 62px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_1 { position: relative; width: 969px; min-height: 62px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #008000; }
#imTextObject_1_tab0 .cf4 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_1_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #008000; }
#imTextObject_1_tab0 .cb4 { background-color: #000000; }
#imCell_33 { display: block; position: relative; overflow: hidden; width: 324px; min-height: 105px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_33 { position: relative; width: 318px; min-height: 47px; padding: 3px 3px 55px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_33 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_33_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_33_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_33_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_33_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_33_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_33_tab0 p { margin: 0; padding: 0; }
#imTextObject_33_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_33_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 .imUl { text-decoration: underline; }
#imTextObject_33_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .cf1 { color: #000000; }
#imTextObject_33_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_33_tab0 .cf3 { color: #0000C0; }
#imTextObject_33_tab0 .cf4 { color: #000000; }
#imTextObject_33_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_33_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_33_tab0 .cb1 { background-color: #000000; }
#imTextObject_33_tab0 .cb2 { background-color: transparent; }
#imTextObject_33_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_33_tab0 .cb4 { background-color: #000000; }
#imCell_30 { display: block; position: relative; overflow: hidden; width: 324px; min-height: 185px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_30 { position: relative; width: 318px; min-height: 179px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_30 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_30_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_30_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_30_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_30_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_30_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_30_tab0 p { margin: 0; padding: 0; }
#imTextObject_30_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_30_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_30_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_30_tab0 .imUl { text-decoration: underline; }
#imTextObject_30_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_30_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_30_tab0 .cf1 { color: #000000; }
#imTextObject_30_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_30_tab0 .cf3 { color: #0000C0; }
#imTextObject_30_tab0 .cf4 { color: #000000; }
#imTextObject_30_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_30_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_30_tab0 .cb1 { background-color: #000000; }
#imTextObject_30_tab0 .cb2 { background-color: transparent; }
#imTextObject_30_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_30_tab0 .cb4 { background-color: #000000; }
