#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 966px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 68px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 968px; min-height: 62px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #008020; }
#imTextObject_1_tab0 .cf4 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_1_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #008020; }
#imTextObject_1_tab0 .cb4 { background-color: #000000; }
#imCell_5 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 232px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_5 { position: relative; width: 227px; min-height: 206px; padding: 6px 6px 20px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_5_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_5_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_5_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_5_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_5_tab0 p { margin: 0; padding: 0; }
#imTextObject_5_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_5_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_5_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_5_tab0 .imUl { text-decoration: underline; }
#imTextObject_5_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_5_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_5_tab0 .cf1 { color: #000000; }
#imTextObject_5_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_5_tab0 .cf3 { color: #0030BF; }
#imTextObject_5_tab0 .cf4 { color: #000000; }
#imTextObject_5_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_5_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_5_tab0 .cb1 { background-color: #000000; }
#imTextObject_5_tab0 .cb2 { background-color: transparent; }
#imTextObject_5_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_5_tab0 .cb4 { background-color: #000000; }
#imCell_66 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 232px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_66 { position: relative; width: 227px; min-height: 206px; padding: 6px 6px 20px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_66 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_66_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_66_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_66_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_66_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_66_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_66_tab0 p { margin: 0; padding: 0; }
#imTextObject_66_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_66_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_66_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_66_tab0 .imUl { text-decoration: underline; }
#imTextObject_66_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_66_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_66_tab0 .cf1 { color: #000000; }
#imTextObject_66_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_66_tab0 .cf3 { color: #0030BF; }
#imTextObject_66_tab0 .cf4 { color: #000000; }
#imTextObject_66_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_66_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_66_tab0 .cb1 { background-color: #000000; }
#imTextObject_66_tab0 .cb2 { background-color: transparent; }
#imTextObject_66_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_66_tab0 .cb4 { background-color: #000000; }
#imCell_79 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 243px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_79 { position: relative; width: 227px; min-height: 225px; padding: 6px 6px 12px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_79 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_79_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_79_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_79_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_79_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_79_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_79_tab0 p { margin: 0; padding: 0; }
#imTextObject_79_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_79_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_79_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_79_tab0 .imUl { text-decoration: underline; }
#imTextObject_79_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_79_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_79_tab0 .cf1 { color: #000000; }
#imTextObject_79_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_79_tab0 .cf3 { color: #0030BF; }
#imTextObject_79_tab0 .cf4 { color: #000000; }
#imTextObject_79_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_79_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_79_tab0 .cb1 { background-color: #000000; }
#imTextObject_79_tab0 .cb2 { background-color: transparent; }
#imTextObject_79_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_79_tab0 .cb4 { background-color: #000000; }
#imCell_81 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 237px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_81 { position: relative; width: 227px; min-height: 225px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_81 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_81_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_81_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_81_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_81_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_81_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_81_tab0 p { margin: 0; padding: 0; }
#imTextObject_81_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_81_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 .imUl { text-decoration: underline; }
#imTextObject_81_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .cf1 { color: #000000; }
#imTextObject_81_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_81_tab0 .cf3 { color: #0030BF; }
#imTextObject_81_tab0 .cf4 { color: #000000; }
#imTextObject_81_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_81_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_81_tab0 .cb1 { background-color: #000000; }
#imTextObject_81_tab0 .cb2 { background-color: transparent; }
#imTextObject_81_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_81_tab0 .cb4 { background-color: #000000; }
#imCell_82 { display: block; position: relative; overflow: hidden; width: 729px; min-height: 237px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_82 { position: relative; width: 723px; min-height: 229px; padding: 3px 3px 5px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_82 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_82 > a { display: block; }
#imCell_88 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 243px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_88 { position: relative; width: 472px; min-height: 231px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_88 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_88_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_88_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_88_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_88_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_88_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_88_tab0 p { margin: 0; padding: 0; }
#imTextObject_88_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_88_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_88_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_88_tab0 .imUl { text-decoration: underline; }
#imTextObject_88_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_88_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_88_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_88_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_88_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_88_tab0 .cf1 { color: #000000; }
#imTextObject_88_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_88_tab0 .cf3 { color: #0030BF; }
#imTextObject_88_tab0 .cf4 { color: #000000; }
#imTextObject_88_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_88_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_88_tab0 .cb1 { background-color: #000000; }
#imTextObject_88_tab0 .cb2 { background-color: transparent; }
#imTextObject_88_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_88_tab0 .cb4 { background-color: #000000; }
#imCell_89 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 27px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_89 { position: relative; width: 968px; min-height: 21px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_89 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_89_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_89_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_89_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_89_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_89_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_89_tab0 p { margin: 0; padding: 0; }
#imTextObject_89_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_89_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_89_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_89_tab0 .imUl { text-decoration: underline; }
#imTextObject_89_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_89_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_89_tab0 .cf1 { color: #000000; }
#imTextObject_89_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_89_tab0 .cf3 { color: #0030BF; }
#imTextObject_89_tab0 .cf4 { color: #000000; }
#imTextObject_89_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_89_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_89_tab0 .cb1 { background-color: #000000; }
#imTextObject_89_tab0 .cb2 { background-color: transparent; }
#imTextObject_89_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_89_tab0 .cb4 { background-color: #000000; }
#imCell_90 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_90 { position: relative; width: 960px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_90 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_90_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_90_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_90_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_90_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_90_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_90_tab0 p { margin: 0; padding: 0; }
#imTextObject_90_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_90_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_90_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_90_tab0 .imUl { text-decoration: underline; }
#imTextObject_90_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_90_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_90_tab0 .cf1 { color: #000000; }
#imTextObject_90_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_90_tab0 .cf3 { color: #000000; }
#imTextObject_90_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_90_tab0 .cb1 { background-color: #000000; }
#imTextObject_90_tab0 .cb2 { background-color: transparent; }
#imTextObject_90_tab0 .cb3 { background-color: #000000; }
#imCell_87 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 232px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_87 { position: relative; width: 478px; min-height: 226px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_87 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_87 > a { display: block; }
#imCell_80 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 243px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_80 { position: relative; width: 227px; min-height: 225px; padding: 6px 6px 12px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_80 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_80_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_80_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_80_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_80_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_80_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_80_tab0 p { margin: 0; padding: 0; }
#imTextObject_80_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_80_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_80_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_80_tab0 .imUl { text-decoration: underline; }
#imTextObject_80_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_80_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_80_tab0 .cf1 { color: #000000; }
#imTextObject_80_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_80_tab0 .cf3 { color: #0030BF; }
#imTextObject_80_tab0 .cf4 { color: #000000; }
#imTextObject_80_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_80_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_80_tab0 .cb1 { background-color: #000000; }
#imTextObject_80_tab0 .cb2 { background-color: transparent; }
#imTextObject_80_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_80_tab0 .cb4 { background-color: #000000; }
#imCell_91 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 247px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_91 { position: relative; width: 968px; min-height: 241px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_91 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_91 > a { display: block; }
#imCell_92 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 46px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_92 { position: relative; width: 968px; min-height: 40px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_92 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_92_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_92_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_92_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_92_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_92_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_92_tab0 p { margin: 0; padding: 0; }
#imTextObject_92_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_92_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_92_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_92_tab0 .imUl { text-decoration: underline; }
#imTextObject_92_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_92_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_92_tab0 .cf1 { color: #000000; }
#imTextObject_92_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_92_tab0 .cf3 { color: #000000; }
#imTextObject_92_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_92_tab0 .cb1 { background-color: #000000; }
#imTextObject_92_tab0 .cb2 { background-color: transparent; }
#imTextObject_92_tab0 .cb3 { background-color: #000000; }
