#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 966px;}
#imCell_2 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 454px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 968px; min-height: 448px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_2 > a { display: block; }
#imCell_23 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 68px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_23 { position: relative; width: 968px; min-height: 62px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_23 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_23_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_23_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_23_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_23_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_23_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_23_tab0 p { margin: 0; padding: 0; }
#imTextObject_23_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_23_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_23_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_23_tab0 .imUl { text-decoration: underline; }
#imTextObject_23_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_23_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_23_tab0 .cf1 { color: #000000; }
#imTextObject_23_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_23_tab0 .cf3 { color: #008020; }
#imTextObject_23_tab0 .cf4 { color: #000000; }
#imTextObject_23_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_23_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_23_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_23_tab0 .cb1 { background-color: #000000; }
#imTextObject_23_tab0 .cb2 { background-color: transparent; }
#imTextObject_23_tab0 .cb3 { background-color: #008020; }
#imTextObject_23_tab0 .cb4 { background-color: #000000; }
#imCell_24 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 392px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_24 { position: relative; width: 472px; min-height: 380px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_24 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_24_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_24_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_24_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_24_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_24_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_24_tab0 p { margin: 0; padding: 0; }
#imTextObject_24_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_24_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_24_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_24_tab0 .imUl { text-decoration: underline; }
#imTextObject_24_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_24_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_24_tab0 .cf1 { color: #000000; }
#imTextObject_24_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_24_tab0 .cf3 { color: #0030BF; }
#imTextObject_24_tab0 .cf4 { color: #000000; }
#imTextObject_24_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_24_tab0 .cb1 { background-color: #000000; }
#imTextObject_24_tab0 .cb2 { background-color: transparent; }
#imTextObject_24_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_24_tab0 .cb4 { background-color: #000000; }
#imCell_25 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 392px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_25 { position: relative; width: 472px; min-height: 240px; padding: 6px 6px 146px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_25 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_25_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_25_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_25_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_25_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_25_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_25_tab0 p { margin: 0; padding: 0; }
#imTextObject_25_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_25_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_25_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_25_tab0 .imUl { text-decoration: underline; }
#imTextObject_25_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_25_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_25_tab0 .cf1 { color: #000000; }
#imTextObject_25_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_25_tab0 .cf3 { color: #0030BF; }
#imTextObject_25_tab0 .cf4 { color: #000000; }
#imTextObject_25_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_25_tab0 .cb1 { background-color: #000000; }
#imTextObject_25_tab0 .cb2 { background-color: transparent; }
#imTextObject_25_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_25_tab0 .cb4 { background-color: #000000; }
#imCell_66 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_66 { position: relative; width: 960px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_66 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_66_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_66_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_66_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_66_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_66_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_66_tab0 p { margin: 0; padding: 0; }
#imTextObject_66_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_66_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_66_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_66_tab0 .imUl { text-decoration: underline; }
#imTextObject_66_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_66_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_66_tab0 .cf1 { color: #000000; }
#imTextObject_66_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_66_tab0 .cf3 { color: #000000; }
#imTextObject_66_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_66_tab0 .cb1 { background-color: #000000; }
#imTextObject_66_tab0 .cb2 { background-color: transparent; }
#imTextObject_66_tab0 .cb3 { background-color: #000000; }
#imCell_67 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 47px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_67 { position: relative; width: 968px; min-height: 41px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_67 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_67_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_67_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_67_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_67_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_67_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_67_tab0 p { margin: 0; padding: 0; }
#imTextObject_67_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_67_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_67_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_67_tab0 .imUl { text-decoration: underline; }
#imTextObject_67_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_67_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_67_tab0 .cf1 { color: #000000; }
#imTextObject_67_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_67_tab0 .cf3 { color: #0030BF; }
#imTextObject_67_tab0 .cf4 { color: #000000; }
#imTextObject_67_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_67_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_67_tab0 .cb1 { background-color: #000000; }
#imTextObject_67_tab0 .cb2 { background-color: transparent; }
#imTextObject_67_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_67_tab0 .cb4 { background-color: #000000; }
#imCell_68 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 174px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_68 { position: relative; width: 968px; min-height: 168px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_68 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_68 > a { display: block; }
#imCell_69 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 89px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_69 { position: relative; width: 968px; min-height: 83px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_69 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_69_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_69_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_69_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_69_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_69_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_69_tab0 p { margin: 0; padding: 0; }
#imTextObject_69_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_69_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_69_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_69_tab0 .imUl { text-decoration: underline; }
#imTextObject_69_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_69_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_69_tab0 .cf1 { color: #000000; }
#imTextObject_69_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_69_tab0 .cf3 { color: #000000; }
#imTextObject_69_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_69_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_69_tab0 .cb1 { background-color: #000000; }
#imTextObject_69_tab0 .cb2 { background-color: transparent; }
#imTextObject_69_tab0 .cb3 { background-color: #000000; }
