#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 968px;}
#imCell_2 { display: block; position: relative; overflow: hidden; width: 976px; min-height: 215px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 970px; min-height: 209px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_2_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_2_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_2_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_2_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_2_tab0 p { margin: 0; padding: 0; }
#imTextObject_2_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_2_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 .imUl { text-decoration: underline; }
#imTextObject_2_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff1 { font-family: "Calibri", sans-serif; }
#imTextObject_2_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .cf1 { color: #000000; }
#imTextObject_2_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_2_tab0 .cf3 { color: #000000; }
#imTextObject_2_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_2_tab0 .fs22 { vertical-align: baseline; font-size: 11pt; line-height: 21px;}
#imTextObject_2_tab0 .cb1 { background-color: #000000; }
#imTextObject_2_tab0 .cb2 { background-color: transparent; }
#imTextObject_2_tab0 .cb3 { background-color: #000000; }
#imCell_72 { display: block; position: relative; overflow: hidden; width: 972px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_72 { position: relative; width: 962px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_72 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_72_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_72_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_72_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_72_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_72_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_72_tab0 p { margin: 0; padding: 0; }
#imTextObject_72_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_72_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 .imUl { text-decoration: underline; }
#imTextObject_72_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .cf1 { color: #000000; }
#imTextObject_72_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_72_tab0 .cf3 { color: #000000; }
#imTextObject_72_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_72_tab0 .cb1 { background-color: #000000; }
#imTextObject_72_tab0 .cb2 { background-color: transparent; }
#imTextObject_72_tab0 .cb3 { background-color: #000000; }
#imCell_84 { display: block; position: relative; overflow: hidden; width: 976px; min-height: 45px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_84 { position: relative; width: 970px; min-height: 39px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_84 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_84_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_84_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_84_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_84_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_84_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_84_tab0 p { margin: 0; padding: 0; }
#imTextObject_84_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_84_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 .imUl { text-decoration: underline; }
#imTextObject_84_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .cf1 { color: #000000; }
#imTextObject_84_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_84_tab0 .cf3 { color: #008020; }
#imTextObject_84_tab0 .cf4 { color: #000000; }
#imTextObject_84_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_84_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_84_tab0 .cb1 { background-color: #000000; }
#imTextObject_84_tab0 .cb2 { background-color: transparent; }
#imTextObject_84_tab0 .cb3 { background-color: #008020; }
#imTextObject_84_tab0 .cb4 { background-color: #000000; }
