#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 966px;}
#imCell_3 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 326px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_3 { position: relative; width: 233px; min-height: 320px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_3_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_3_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff3 { font-family: "Times New Roman", serif; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_3_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #000000; }
#imCell_2 { display: block; position: relative; overflow: hidden; width: 729px; min-height: 186px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 723px; min-height: 180px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_2_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_2_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_2_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_2_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_2_tab0 p { margin: 0; padding: 0; }
#imTextObject_2_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_2_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 .imUl { text-decoration: underline; }
#imTextObject_2_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_2_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff3 { font-family: "Times New Roman", serif; }
#imTextObject_2_tab0 .cf1 { color: #000000; }
#imTextObject_2_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_2_tab0 .cf3 { color: #000000; }
#imTextObject_2_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_2_tab0 .cb1 { background-color: #000000; }
#imTextObject_2_tab0 .cb2 { background-color: transparent; }
#imTextObject_2_tab0 .cb3 { background-color: #000000; }
#imCell_65 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 48px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_65 { position: relative; width: 968px; min-height: 41px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid #808080; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_65 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_65_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_65_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_65_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_65_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_65_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_65_tab0 p { margin: 0; padding: 0; }
#imTextObject_65_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_65_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_65_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_65_tab0 .imUl { text-decoration: underline; }
#imTextObject_65_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_65_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_65_tab0 .cf1 { color: #000000; }
#imTextObject_65_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_65_tab0 .cf3 { color: #0030BF; }
#imTextObject_65_tab0 .cf4 { color: #000000; }
#imTextObject_65_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_65_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_65_tab0 .cb1 { background-color: #000000; }
#imTextObject_65_tab0 .cb2 { background-color: transparent; }
#imTextObject_65_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_65_tab0 .cb4 { background-color: #000000; }
#imCell_66 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_66 { position: relative; width: 960px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_66 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_66_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_66_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_66_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_66_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_66_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_66_tab0 p { margin: 0; padding: 0; }
#imTextObject_66_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_66_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_66_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_66_tab0 .imUl { text-decoration: underline; }
#imTextObject_66_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_66_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_66_tab0 .cf1 { color: #000000; }
#imTextObject_66_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_66_tab0 .cf3 { color: #000000; }
#imTextObject_66_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_66_tab0 .cb1 { background-color: #000000; }
#imTextObject_66_tab0 .cb2 { background-color: transparent; }
#imTextObject_66_tab0 .cb3 { background-color: #000000; }
#imCell_1 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 45px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 968px; min-height: 39px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #008020; }
#imTextObject_1_tab0 .cf4 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #008020; }
#imTextObject_1_tab0 .cb4 { background-color: #000000; }
#imCell_67 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 111px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_67 { position: relative; width: 968px; min-height: 105px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_67 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_67_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_67_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_67_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_67_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_67_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_67_tab0 p { margin: 0; padding: 0; }
#imTextObject_67_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_67_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_67_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_67_tab0 .imUl { text-decoration: underline; }
#imTextObject_67_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_67_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_67_tab0 .cf1 { color: #000000; }
#imTextObject_67_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_67_tab0 .cf3 { color: #000000; }
#imTextObject_67_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_67_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_67_tab0 .cb1 { background-color: #000000; }
#imTextObject_67_tab0 .cb2 { background-color: transparent; }
#imTextObject_67_tab0 .cb3 { background-color: #000000; }
#imCell_68 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 585px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_68 { position: relative; width: 968px; min-height: 579px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_68 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_68_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_68_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_68_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_68_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_68_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_68_tab0 p { margin: 0; padding: 0; }
#imTextObject_68_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_68_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_68_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_68_tab0 .imUl { text-decoration: underline; }
#imTextObject_68_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_68_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_68_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_68_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_68_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_68_tab0 .cf1 { color: #000000; }
#imTextObject_68_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_68_tab0 .cf3 { color: #000000; }
#imTextObject_68_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_68_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_68_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_68_tab0 .cb1 { background-color: #000000; }
#imTextObject_68_tab0 .cb2 { background-color: transparent; }
#imTextObject_68_tab0 .cb3 { background-color: #000000; }
#imCell_69 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 90px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_69 { position: relative; width: 968px; min-height: 84px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_69 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_69_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_69_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_69_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_69_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_69_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_69_tab0 p { margin: 0; padding: 0; }
#imTextObject_69_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_69_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_69_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_69_tab0 .imUl { text-decoration: underline; }
#imTextObject_69_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_69_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_69_tab0 .cf1 { color: #000000; }
#imTextObject_69_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_69_tab0 .cf3 { color: #000000; }
#imTextObject_69_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_69_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_69_tab0 .cb1 { background-color: #000000; }
#imTextObject_69_tab0 .cb2 { background-color: transparent; }
#imTextObject_69_tab0 .cb3 { background-color: #000000; }
#imCell_70 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 131px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_70 { position: relative; width: 968px; min-height: 125px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_70 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_70_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_70_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_70_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_70_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_70_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_70_tab0 p { margin: 0; padding: 0; }
#imTextObject_70_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_70_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_70_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_70_tab0 .imUl { text-decoration: underline; }
#imTextObject_70_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_70_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_70_tab0 .cf1 { color: #000000; }
#imTextObject_70_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_70_tab0 .cf3 { color: #000000; }
#imTextObject_70_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_70_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_70_tab0 .cb1 { background-color: #000000; }
#imTextObject_70_tab0 .cb2 { background-color: transparent; }
#imTextObject_70_tab0 .cb3 { background-color: #000000; }
#imCell_71 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 231px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_71 { position: relative; width: 968px; min-height: 225px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_71 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_71_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_71_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_71_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_71_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_71_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_71_tab0 p { margin: 0; padding: 0; }
#imTextObject_71_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_71_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_71_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_71_tab0 .imUl { text-decoration: underline; }
#imTextObject_71_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_71_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_71_tab0 .cf1 { color: #000000; }
#imTextObject_71_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_71_tab0 .cf3 { color: #000000; }
#imTextObject_71_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_71_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_71_tab0 .cb1 { background-color: #000000; }
#imTextObject_71_tab0 .cb2 { background-color: transparent; }
#imTextObject_71_tab0 .cb3 { background-color: #000000; }
#imCell_72 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 111px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_72 { position: relative; width: 968px; min-height: 105px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_72 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_72_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_72_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_72_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_72_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_72_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_72_tab0 p { margin: 0; padding: 0; }
#imTextObject_72_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_72_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 .imUl { text-decoration: underline; }
#imTextObject_72_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .cf1 { color: #000000; }
#imTextObject_72_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_72_tab0 .cf3 { color: #000000; }
#imTextObject_72_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_72_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_72_tab0 .cb1 { background-color: #000000; }
#imTextObject_72_tab0 .cb2 { background-color: transparent; }
#imTextObject_72_tab0 .cb3 { background-color: #000000; }
#imCell_73 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 151px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_73 { position: relative; width: 968px; min-height: 145px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_73 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_73_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_73_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_73_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_73_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_73_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_73_tab0 p { margin: 0; padding: 0; }
#imTextObject_73_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_73_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_73_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_73_tab0 .imUl { text-decoration: underline; }
#imTextObject_73_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_73_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_73_tab0 .cf1 { color: #000000; }
#imTextObject_73_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_73_tab0 .cf3 { color: #000000; }
#imTextObject_73_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_73_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_73_tab0 .cb1 { background-color: #000000; }
#imTextObject_73_tab0 .cb2 { background-color: transparent; }
#imTextObject_73_tab0 .cb3 { background-color: #000000; }
#imCell_74 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 176px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_74 { position: relative; width: 968px; min-height: 170px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_74 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_74_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_74_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_74_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_74_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_74_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_74_tab0 p { margin: 0; padding: 0; }
#imTextObject_74_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_74_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_74_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_74_tab0 .imUl { text-decoration: underline; }
#imTextObject_74_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_74_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_74_tab0 .cf1 { color: #000000; }
#imTextObject_74_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_74_tab0 .cf3 { color: #000000; }
#imTextObject_74_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_74_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_74_tab0 .cb1 { background-color: #000000; }
#imTextObject_74_tab0 .cb2 { background-color: transparent; }
#imTextObject_74_tab0 .cb3 { background-color: #000000; }
#imCell_75 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 131px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_75 { position: relative; width: 968px; min-height: 125px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_75 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_75_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_75_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_75_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_75_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_75_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_75_tab0 p { margin: 0; padding: 0; }
#imTextObject_75_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_75_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_75_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_75_tab0 .imUl { text-decoration: underline; }
#imTextObject_75_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_75_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_75_tab0 .cf1 { color: #000000; }
#imTextObject_75_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_75_tab0 .cf3 { color: #000000; }
#imTextObject_75_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_75_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_75_tab0 .cb1 { background-color: #000000; }
#imTextObject_75_tab0 .cb2 { background-color: transparent; }
#imTextObject_75_tab0 .cb3 { background-color: #000000; }
#imCell_76 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 71px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_76 { position: relative; width: 968px; min-height: 65px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_76 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_76_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_76_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_76_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_76_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_76_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_76_tab0 p { margin: 0; padding: 0; }
#imTextObject_76_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_76_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_76_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_76_tab0 .imUl { text-decoration: underline; }
#imTextObject_76_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_76_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_76_tab0 .cf1 { color: #000000; }
#imTextObject_76_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_76_tab0 .cf3 { color: #000000; }
#imTextObject_76_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_76_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_76_tab0 .cb1 { background-color: #000000; }
#imTextObject_76_tab0 .cb2 { background-color: transparent; }
#imTextObject_76_tab0 .cb3 { background-color: #000000; }
#imCell_77 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 156px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_77 { position: relative; width: 968px; min-height: 150px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_77 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_77_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_77_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_77_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_77_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_77_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_77_tab0 p { margin: 0; padding: 0; }
#imTextObject_77_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_77_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_77_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_77_tab0 .imUl { text-decoration: underline; }
#imTextObject_77_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_77_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_77_tab0 .cf1 { color: #000000; }
#imTextObject_77_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_77_tab0 .cf3 { color: #000000; }
#imTextObject_77_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_77_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_77_tab0 .cb1 { background-color: #000000; }
#imTextObject_77_tab0 .cb2 { background-color: transparent; }
#imTextObject_77_tab0 .cb3 { background-color: #000000; }
#imCell_80 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 364px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_80 { position: relative; width: 478px; min-height: 358px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_80 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_80 > a { display: block; }
#imCell_81 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 364px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_81 { position: relative; width: 478px; min-height: 330px; padding: 3px 3px 31px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_81 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_81_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_81_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_81_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_81_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_81_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_81_tab0 p { margin: 0; padding: 0; }
#imTextObject_81_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_81_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 .imUl { text-decoration: underline; }
#imTextObject_81_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .cf1 { color: #000000; }
#imTextObject_81_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_81_tab0 .cf3 { color: #000000; }
#imTextObject_81_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_81_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_81_tab0 .cb1 { background-color: #000000; }
#imTextObject_81_tab0 .cb2 { background-color: transparent; }
#imTextObject_81_tab0 .cb3 { background-color: #000000; }
#imCell_82 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 229px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_82 { position: relative; width: 478px; min-height: 203px; padding: 3px 3px 23px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_82 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_82_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_82_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_82_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_82_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_82_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_82_tab0 p { margin: 0; padding: 0; }
#imTextObject_82_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_82_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_82_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_82_tab0 .imUl { text-decoration: underline; }
#imTextObject_82_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_82_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_82_tab0 .cf1 { color: #000000; }
#imTextObject_82_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_82_tab0 .cf3 { color: #000000; }
#imTextObject_82_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_82_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_82_tab0 .cb1 { background-color: #000000; }
#imTextObject_82_tab0 .cb2 { background-color: transparent; }
#imTextObject_82_tab0 .cb3 { background-color: #000000; }
#imCell_84 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 366px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_84 { position: relative; width: 968px; min-height: 360px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_84 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_84_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_84_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_84_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_84_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_84_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_84_tab0 p { margin: 0; padding: 0; }
#imTextObject_84_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_84_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 .imUl { text-decoration: underline; }
#imTextObject_84_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .cf1 { color: #000000; }
#imTextObject_84_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_84_tab0 .cf3 { color: #000000; }
#imTextObject_84_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_84_tab0 .cb1 { background-color: #000000; }
#imTextObject_84_tab0 .cb2 { background-color: transparent; }
#imTextObject_84_tab0 .cb3 { background-color: #000000; }
#imCell_85 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 229px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_85 { position: relative; width: 478px; min-height: 223px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_85 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_85_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_85_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_85_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_85_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_85_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_85_tab0 p { margin: 0; padding: 0; }
#imTextObject_85_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_85_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_85_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_85_tab0 .imUl { text-decoration: underline; }
#imTextObject_85_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_85_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_85_tab0 .cf1 { color: #000000; }
#imTextObject_85_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_85_tab0 .cf3 { color: #000000; }
#imTextObject_85_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_85_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_85_tab0 .cb1 { background-color: #000000; }
#imTextObject_85_tab0 .cb2 { background-color: transparent; }
#imTextObject_85_tab0 .cb3 { background-color: #000000; }
#imCell_86 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 257px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_86 { position: relative; width: 968px; min-height: 251px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_86 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_86 > a { display: block; }
#imCell_88 { display: block; position: relative; overflow: hidden; width: 729px; min-height: 134px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_88 { position: relative; width: 723px; min-height: 120px; padding: 3px 3px 11px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_88 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_88_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_88_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_88_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_88_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_88_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_88_tab0 p { margin: 0; padding: 0; }
#imTextObject_88_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_88_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_88_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_88_tab0 .imUl { text-decoration: underline; }
#imTextObject_88_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_88_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_88_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_88_tab0 .ff3 { font-family: "Times New Roman", serif; }
#imTextObject_88_tab0 .cf1 { color: #000000; }
#imTextObject_88_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_88_tab0 .cf3 { color: #000000; }
#imTextObject_88_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_88_tab0 .cb1 { background-color: #000000; }
#imTextObject_88_tab0 .cb2 { background-color: transparent; }
#imTextObject_88_tab0 .cb3 { background-color: #000000; }
