#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 967px;}
#imCell_2 { display: block; position: relative; overflow: hidden; width: 975px; min-height: 45px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 969px; min-height: 39px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_2_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_2_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_2_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_2_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_2_tab0 p { margin: 0; padding: 0; }
#imTextObject_2_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_2_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_2_tab0 .imUl { text-decoration: underline; }
#imTextObject_2_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .cf1 { color: #000000; }
#imTextObject_2_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_2_tab0 .cf3 { color: #008020; }
#imTextObject_2_tab0 .cf4 { color: #000000; }
#imTextObject_2_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_2_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_2_tab0 .cb1 { background-color: #000000; }
#imTextObject_2_tab0 .cb2 { background-color: transparent; }
#imTextObject_2_tab0 .cb3 { background-color: #008020; }
#imTextObject_2_tab0 .cb4 { background-color: #000000; }
#imCell_67 { display: block; position: relative; overflow: hidden; width: 971px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_67 { position: relative; width: 961px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_67 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_67_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_67_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_67_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_67_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_67_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_67_tab0 p { margin: 0; padding: 0; }
#imTextObject_67_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_67_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_67_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_67_tab0 .imUl { text-decoration: underline; }
#imTextObject_67_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_67_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_67_tab0 .cf1 { color: #000000; }
#imTextObject_67_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_67_tab0 .cf3 { color: #000000; }
#imTextObject_67_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_67_tab0 .cb1 { background-color: #000000; }
#imTextObject_67_tab0 .cb2 { background-color: transparent; }
#imTextObject_67_tab0 .cb3 { background-color: #000000; }
#imCell_68 { display: block; position: relative; overflow: hidden; width: 975px; min-height: 48px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_68 { position: relative; width: 969px; min-height: 41px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid #808080; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_68 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_68_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_68_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_68_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_68_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_68_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_68_tab0 p { margin: 0; padding: 0; }
#imTextObject_68_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_68_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_68_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_68_tab0 .imUl { text-decoration: underline; }
#imTextObject_68_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_68_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_68_tab0 .cf1 { color: #000000; }
#imTextObject_68_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_68_tab0 .cf3 { color: #0030BF; }
#imTextObject_68_tab0 .cf4 { color: #000000; }
#imTextObject_68_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_68_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_68_tab0 .cb1 { background-color: #000000; }
#imTextObject_68_tab0 .cb2 { background-color: transparent; }
#imTextObject_68_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_68_tab0 .cb4 { background-color: #000000; }
#imCell_69 { display: block; position: relative; overflow: hidden; width: 975px; min-height: 234px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_69 { position: relative; width: 969px; min-height: 228px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_69 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_69 > a { display: block; }
#imCell_70 { display: block; position: relative; overflow: hidden; width: 554px; min-height: 269px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_70 { position: relative; width: 548px; min-height: 255px; padding: 3px 3px 11px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_70 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_70_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_70_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_70_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_70_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_70_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_70_tab0 p { margin: 0; padding: 0; }
#imTextObject_70_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_70_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_70_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_70_tab0 .imUl { text-decoration: underline; }
#imTextObject_70_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_70_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_70_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_70_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_70_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_70_tab0 .cf1 { color: #000000; }
#imTextObject_70_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_70_tab0 .cf3 { color: #000000; }
#imTextObject_70_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_70_tab0 .cb1 { background-color: #000000; }
#imTextObject_70_tab0 .cb2 { background-color: transparent; }
#imTextObject_70_tab0 .cb3 { background-color: #000000; }
#imCell_73 { display: block; position: relative; overflow: hidden; width: 275px; min-height: 306px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_73 { position: relative; width: 269px; min-height: 258px; padding: 3px 3px 45px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_73 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_73_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_73_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_73_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_73_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_73_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_73_tab0 p { margin: 0; padding: 0; }
#imTextObject_73_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_73_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_73_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_73_tab0 .imUl { text-decoration: underline; }
#imTextObject_73_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_73_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_73_tab0 .cf1 { color: #000000; }
#imTextObject_73_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_73_tab0 .cf3 { color: #000000; }
#imTextObject_73_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_73_tab0 .cb1 { background-color: #000000; }
#imTextObject_73_tab0 .cb2 { background-color: transparent; }
#imTextObject_73_tab0 .cb3 { background-color: #000000; }
#imCell_76 { display: block; position: relative; overflow: hidden; width: 975px; min-height: 56px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_76 { position: relative; width: 969px; min-height: 50px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_76 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_76_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_76_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_76_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_76_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_76_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_76_tab0 p { margin: 0; padding: 0; }
#imTextObject_76_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_76_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_76_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_76_tab0 .imUl { text-decoration: underline; }
#imTextObject_76_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_76_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_76_tab0 .cf1 { color: #000000; }
#imTextObject_76_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_76_tab0 .cf3 { color: #000000; }
#imTextObject_76_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_76_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_76_tab0 .cb1 { background-color: #000000; }
#imTextObject_76_tab0 .cb2 { background-color: transparent; }
#imTextObject_76_tab0 .cb3 { background-color: #000000; }
#imCell_77 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 191px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_77 { position: relative; width: 128px; min-height: 185px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_77 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_77_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_77_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_77_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_77_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_77_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_77_tab0 p { margin: 0; padding: 0; }
#imTextObject_77_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_77_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_77_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_77_tab0 .imUl { text-decoration: underline; }
#imTextObject_77_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_77_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_77_tab0 .cf1 { color: #000000; }
#imTextObject_77_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_77_tab0 .cf3 { color: #000000; }
#imTextObject_77_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_77_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_77_tab0 .cb1 { background-color: #000000; }
#imTextObject_77_tab0 .cb2 { background-color: transparent; }
#imTextObject_77_tab0 .cb3 { background-color: #000000; }
#imCell_79 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 191px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_79 { position: relative; width: 128px; min-height: 185px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_79 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_79_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_79_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_79_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_79_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_79_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_79_tab0 p { margin: 0; padding: 0; }
#imTextObject_79_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_79_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_79_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_79_tab0 .imUl { text-decoration: underline; }
#imTextObject_79_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_79_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_79_tab0 .cf1 { color: #000000; }
#imTextObject_79_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_79_tab0 .cf3 { color: #000000; }
#imTextObject_79_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_79_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_79_tab0 .cb1 { background-color: #000000; }
#imTextObject_79_tab0 .cb2 { background-color: transparent; }
#imTextObject_79_tab0 .cb3 { background-color: #000000; }
#imCell_80 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 191px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_80 { position: relative; width: 128px; min-height: 171px; padding: 3px 3px 17px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_80 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_80_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_80_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_80_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_80_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_80_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_80_tab0 p { margin: 0; padding: 0; }
#imTextObject_80_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_80_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_80_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_80_tab0 .imUl { text-decoration: underline; }
#imTextObject_80_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_80_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_80_tab0 .cf1 { color: #000000; }
#imTextObject_80_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_80_tab0 .cf3 { color: #000000; }
#imTextObject_80_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_80_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_80_tab0 .cb1 { background-color: #000000; }
#imTextObject_80_tab0 .cb2 { background-color: transparent; }
#imTextObject_80_tab0 .cb3 { background-color: #000000; }
#imCell_82 { display: block; position: relative; overflow: hidden; width: 135px; min-height: 191px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_82 { position: relative; width: 129px; min-height: 179px; padding: 3px 3px 9px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_82 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_82_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_82_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_82_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_82_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_82_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_82_tab0 p { margin: 0; padding: 0; }
#imTextObject_82_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_82_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_82_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_82_tab0 .imUl { text-decoration: underline; }
#imTextObject_82_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_82_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_82_tab0 .cf1 { color: #000000; }
#imTextObject_82_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_82_tab0 .cf3 { color: #000000; }
#imTextObject_82_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_82_tab0 .cb1 { background-color: #000000; }
#imTextObject_82_tab0 .cb2 { background-color: transparent; }
#imTextObject_82_tab0 .cb3 { background-color: #000000; }
#imCell_83 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 191px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_83 { position: relative; width: 128px; min-height: 169px; padding: 3px 3px 19px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_83 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_83_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_83_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_83_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_83_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_83_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_83_tab0 p { margin: 0; padding: 0; }
#imTextObject_83_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_83_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_83_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_83_tab0 .imUl { text-decoration: underline; }
#imTextObject_83_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_83_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_83_tab0 .cf1 { color: #000000; }
#imTextObject_83_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_83_tab0 .cf3 { color: #000000; }
#imTextObject_83_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_83_tab0 .cb1 { background-color: #000000; }
#imTextObject_83_tab0 .cb2 { background-color: transparent; }
#imTextObject_83_tab0 .cb3 { background-color: #000000; }
#imCell_81 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 191px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_81 { position: relative; width: 128px; min-height: 145px; padding: 3px 3px 43px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_81 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_81_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_81_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_81_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_81_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_81_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_81_tab0 p { margin: 0; padding: 0; }
#imTextObject_81_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_81_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_81_tab0 .imUl { text-decoration: underline; }
#imTextObject_81_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_81_tab0 .cf1 { color: #000000; }
#imTextObject_81_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_81_tab0 .cf3 { color: #000000; }
#imTextObject_81_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_81_tab0 .cb1 { background-color: #000000; }
#imTextObject_81_tab0 .cb2 { background-color: transparent; }
#imTextObject_81_tab0 .cb3 { background-color: #000000; }
#imCell_84 { display: block; position: relative; overflow: hidden; width: 274px; min-height: 306px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_84 { position: relative; width: 268px; min-height: 300px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_84 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_84_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_84_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_84_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_84_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_84_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_84_tab0 p { margin: 0; padding: 0; }
#imTextObject_84_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_84_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_84_tab0 .imUl { text-decoration: underline; }
#imTextObject_84_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_84_tab0 .cf1 { color: #000000; }
#imTextObject_84_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_84_tab0 .cf3 { color: #000000; }
#imTextObject_84_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_84_tab0 .cb1 { background-color: #000000; }
#imTextObject_84_tab0 .cb2 { background-color: transparent; }
#imTextObject_84_tab0 .cb3 { background-color: #000000; }
#imCell_87 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 191px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_87 { position: relative; width: 128px; min-height: 161px; padding: 3px 3px 27px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_87 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_87_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_87_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_87_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_87_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_87_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_87_tab0 p { margin: 0; padding: 0; }
#imTextObject_87_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_87_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_87_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_87_tab0 .imUl { text-decoration: underline; }
#imTextObject_87_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_87_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_87_tab0 .cf1 { color: #000000; }
#imTextObject_87_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_87_tab0 .cf3 { color: #000000; }
#imTextObject_87_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_87_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_87_tab0 .cb1 { background-color: #000000; }
#imTextObject_87_tab0 .cb2 { background-color: transparent; }
#imTextObject_87_tab0 .cb3 { background-color: #000000; }
#imCell_88 { display: block; position: relative; overflow: hidden; width: 975px; min-height: 161px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_88 { position: relative; width: 969px; min-height: 155px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_88 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_88_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_88_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_88_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_88_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_88_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_88_tab0 p { margin: 0; padding: 0; }
#imTextObject_88_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_88_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_88_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_88_tab0 .imUl { text-decoration: underline; }
#imTextObject_88_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_88_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_88_tab0 .cf1 { color: #000000; }
#imTextObject_88_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_88_tab0 .cf3 { color: #000000; }
#imTextObject_88_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_88_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_88_tab0 .cb1 { background-color: #000000; }
#imTextObject_88_tab0 .cb2 { background-color: transparent; }
#imTextObject_88_tab0 .cb3 { background-color: #000000; }
#imCell_89 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_89 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_89 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_89_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_89_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_89_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_89_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_89_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_89_tab0 p { margin: 0; padding: 0; }
#imTextObject_89_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_89_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_89_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_89_tab0 .imUl { text-decoration: underline; }
#imTextObject_89_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_89_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_89_tab0 .cf1 { color: #000000; }
#imTextObject_89_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_89_tab0 .cf3 { color: #000000; }
#imTextObject_89_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_89_tab0 .cb1 { background-color: #000000; }
#imTextObject_89_tab0 .cb2 { background-color: transparent; }
#imTextObject_89_tab0 .cb3 { background-color: #000000; }
#imCell_90 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_90 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_90 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_90_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_90_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_90_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_90_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_90_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_90_tab0 p { margin: 0; padding: 0; }
#imTextObject_90_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_90_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_90_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_90_tab0 .imUl { text-decoration: underline; }
#imTextObject_90_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_90_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_90_tab0 .cf1 { color: #000000; }
#imTextObject_90_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_90_tab0 .cf3 { color: #000000; }
#imTextObject_90_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_90_tab0 .cb1 { background-color: #000000; }
#imTextObject_90_tab0 .cb2 { background-color: transparent; }
#imTextObject_90_tab0 .cb3 { background-color: #000000; }
#imCell_91 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_91 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_91 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_91_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_91_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_91_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_91_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_91_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_91_tab0 p { margin: 0; padding: 0; }
#imTextObject_91_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_91_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_91_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_91_tab0 .imUl { text-decoration: underline; }
#imTextObject_91_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_91_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_91_tab0 .cf1 { color: #000000; }
#imTextObject_91_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_91_tab0 .cf3 { color: #000000; }
#imTextObject_91_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_91_tab0 .cb1 { background-color: #000000; }
#imTextObject_91_tab0 .cb2 { background-color: transparent; }
#imTextObject_91_tab0 .cb3 { background-color: #000000; }
#imCell_92 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_92 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_92 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_92_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_92_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_92_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_92_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_92_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_92_tab0 p { margin: 0; padding: 0; }
#imTextObject_92_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_92_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_92_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_92_tab0 .imUl { text-decoration: underline; }
#imTextObject_92_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_92_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_92_tab0 .cf1 { color: #000000; }
#imTextObject_92_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_92_tab0 .cf3 { color: #000000; }
#imTextObject_92_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_92_tab0 .cb1 { background-color: #000000; }
#imTextObject_92_tab0 .cb2 { background-color: transparent; }
#imTextObject_92_tab0 .cb3 { background-color: #000000; }
#imCell_93 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_93 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_93 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_93_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_93_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_93_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_93_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_93_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_93_tab0 p { margin: 0; padding: 0; }
#imTextObject_93_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_93_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_93_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_93_tab0 .imUl { text-decoration: underline; }
#imTextObject_93_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_93_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_93_tab0 .cf1 { color: #000000; }
#imTextObject_93_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_93_tab0 .cf3 { color: #000000; }
#imTextObject_93_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_93_tab0 .cb1 { background-color: #000000; }
#imTextObject_93_tab0 .cb2 { background-color: transparent; }
#imTextObject_93_tab0 .cb3 { background-color: #000000; }
#imCell_94 { display: block; position: relative; overflow: hidden; width: 135px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_94 { position: relative; width: 129px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_94 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_94_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_94_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_94_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_94_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_94_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_94_tab0 p { margin: 0; padding: 0; }
#imTextObject_94_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_94_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_94_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_94_tab0 .imUl { text-decoration: underline; }
#imTextObject_94_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_94_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_94_tab0 .cf1 { color: #000000; }
#imTextObject_94_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_94_tab0 .cf3 { color: #000000; }
#imTextObject_94_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_94_tab0 .cb1 { background-color: #000000; }
#imTextObject_94_tab0 .cb2 { background-color: transparent; }
#imTextObject_94_tab0 .cb3 { background-color: #000000; }
#imCell_95 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_95 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_95 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_95_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_95_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_95_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_95_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_95_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_95_tab0 p { margin: 0; padding: 0; }
#imTextObject_95_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_95_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_95_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_95_tab0 .imUl { text-decoration: underline; }
#imTextObject_95_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_95_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_95_tab0 .cf1 { color: #000000; }
#imTextObject_95_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_95_tab0 .cf3 { color: #000000; }
#imTextObject_95_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_95_tab0 .cb1 { background-color: #000000; }
#imTextObject_95_tab0 .cb2 { background-color: transparent; }
#imTextObject_95_tab0 .cb3 { background-color: #000000; }
#imCell_96 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_96 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_96 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_96_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_96_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_96_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_96_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_96_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_96_tab0 p { margin: 0; padding: 0; }
#imTextObject_96_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_96_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_96_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_96_tab0 .imUl { text-decoration: underline; }
#imTextObject_96_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_96_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_96_tab0 .cf1 { color: #000000; }
#imTextObject_96_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_96_tab0 .cf3 { color: #000000; }
#imTextObject_96_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_96_tab0 .cb1 { background-color: #000000; }
#imTextObject_96_tab0 .cb2 { background-color: transparent; }
#imTextObject_96_tab0 .cb3 { background-color: #000000; }
#imCell_97 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_97 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_97 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_97_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_97_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_97_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_97_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_97_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_97_tab0 p { margin: 0; padding: 0; }
#imTextObject_97_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_97_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_97_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_97_tab0 .imUl { text-decoration: underline; }
#imTextObject_97_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_97_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_97_tab0 .cf1 { color: #000000; }
#imTextObject_97_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_97_tab0 .cf3 { color: #000000; }
#imTextObject_97_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_97_tab0 .cb1 { background-color: #000000; }
#imTextObject_97_tab0 .cb2 { background-color: transparent; }
#imTextObject_97_tab0 .cb3 { background-color: #000000; }
#imCell_98 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_98 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_98 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_98_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_98_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_98_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_98_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_98_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_98_tab0 p { margin: 0; padding: 0; }
#imTextObject_98_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_98_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_98_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_98_tab0 .imUl { text-decoration: underline; }
#imTextObject_98_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_98_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_98_tab0 .cf1 { color: #000000; }
#imTextObject_98_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_98_tab0 .cf3 { color: #000000; }
#imTextObject_98_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_98_tab0 .cb1 { background-color: #000000; }
#imTextObject_98_tab0 .cb2 { background-color: transparent; }
#imTextObject_98_tab0 .cb3 { background-color: #000000; }
#imCell_99 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_99 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_99 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_99_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_99_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_99_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_99_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_99_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_99_tab0 p { margin: 0; padding: 0; }
#imTextObject_99_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_99_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_99_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_99_tab0 .imUl { text-decoration: underline; }
#imTextObject_99_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_99_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_99_tab0 .cf1 { color: #000000; }
#imTextObject_99_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_99_tab0 .cf3 { color: #000000; }
#imTextObject_99_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_99_tab0 .cb1 { background-color: #000000; }
#imTextObject_99_tab0 .cb2 { background-color: transparent; }
#imTextObject_99_tab0 .cb3 { background-color: #000000; }
#imCell_100 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_100 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_100 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_100_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_100_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_100_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_100_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_100_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_100_tab0 p { margin: 0; padding: 0; }
#imTextObject_100_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_100_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_100_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_100_tab0 .imUl { text-decoration: underline; }
#imTextObject_100_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_100_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_100_tab0 .cf1 { color: #000000; }
#imTextObject_100_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_100_tab0 .cf3 { color: #000000; }
#imTextObject_100_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_100_tab0 .cb1 { background-color: #000000; }
#imTextObject_100_tab0 .cb2 { background-color: transparent; }
#imTextObject_100_tab0 .cb3 { background-color: #000000; }
#imCell_101 { display: block; position: relative; overflow: hidden; width: 135px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_101 { position: relative; width: 129px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_101 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_101_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_101_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_101_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_101_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_101_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_101_tab0 p { margin: 0; padding: 0; }
#imTextObject_101_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_101_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_101_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_101_tab0 .imUl { text-decoration: underline; }
#imTextObject_101_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_101_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_101_tab0 .cf1 { color: #000000; }
#imTextObject_101_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_101_tab0 .cf3 { color: #000000; }
#imTextObject_101_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_101_tab0 .cb1 { background-color: #000000; }
#imTextObject_101_tab0 .cb2 { background-color: transparent; }
#imTextObject_101_tab0 .cb3 { background-color: #000000; }
#imCell_102 { display: block; position: relative; overflow: hidden; width: 134px; min-height: 78px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_102 { position: relative; width: 128px; min-height: 72px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_102 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_102_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_102_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_102_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_102_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_102_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_102_tab0 p { margin: 0; padding: 0; }
#imTextObject_102_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_102_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_102_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_102_tab0 .imUl { text-decoration: underline; }
#imTextObject_102_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_102_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_102_tab0 .cf1 { color: #000000; }
#imTextObject_102_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_102_tab0 .cf3 { color: #000000; }
#imTextObject_102_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_102_tab0 .cb1 { background-color: #000000; }
#imTextObject_102_tab0 .cb2 { background-color: transparent; }
#imTextObject_102_tab0 .cb3 { background-color: #000000; }
#imCell_103 { display: block; position: relative; overflow: hidden; width: 414px; min-height: 214px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_103 { position: relative; width: 408px; min-height: 174px; padding: 3px 3px 37px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_103 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_103_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_103_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_103_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_103_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_103_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_103_tab0 p { margin: 0; padding: 0; }
#imTextObject_103_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_103_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_103_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_103_tab0 .imUl { text-decoration: underline; }
#imTextObject_103_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_103_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_103_tab0 .ff2 { font-family: "Calibri", sans-serif; }
#imTextObject_103_tab0 .ff3 { font-family: "Tahoma", sans-serif; }
#imTextObject_103_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_103_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_103_tab0 .cf1 { color: #000000; }
#imTextObject_103_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_103_tab0 .cf3 { color: #000000; }
#imTextObject_103_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_103_tab0 .fs22 { vertical-align: baseline; font-size: 11pt; line-height: 21px;}
#imTextObject_103_tab0 .cb1 { background-color: #000000; }
#imTextObject_103_tab0 .cb2 { background-color: transparent; }
#imTextObject_103_tab0 .cb3 { background-color: #000000; }
#imCell_104 { display: block; position: relative; overflow: hidden; width: 555px; min-height: 214px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_104 { position: relative; width: 549px; min-height: 208px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_104 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_104_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_104_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_104_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_104_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_104_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_104_tab0 p { margin: 0; padding: 0; }
#imTextObject_104_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_104_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_104_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_104_tab0 .imUl { text-decoration: underline; }
#imTextObject_104_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_104_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_104_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_104_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_104_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_104_tab0 .cf1 { color: #000000; }
#imTextObject_104_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_104_tab0 .cf3 { color: #000000; }
#imTextObject_104_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_104_tab0 .cb1 { background-color: #000000; }
#imTextObject_104_tab0 .cb2 { background-color: transparent; }
#imTextObject_104_tab0 .cb3 { background-color: #000000; }
#imCell_105 { display: block; position: relative; overflow: hidden; width: 975px; min-height: 46px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_105 { position: relative; width: 969px; min-height: 40px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_105 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_105_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_105_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_105_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_105_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_105_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_105_tab0 p { margin: 0; padding: 0; }
#imTextObject_105_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_105_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_105_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_105_tab0 .imUl { text-decoration: underline; }
#imTextObject_105_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_105_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_105_tab0 .cf1 { color: #000000; }
#imTextObject_105_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_105_tab0 .cf3 { color: #000000; }
#imTextObject_105_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_105_tab0 .cb1 { background-color: #000000; }
#imTextObject_105_tab0 .cb2 { background-color: transparent; }
#imTextObject_105_tab0 .cb3 { background-color: #000000; }
#imCell_106 { display: block; position: relative; overflow: hidden; width: 415px; min-height: 269px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_106 { position: relative; width: 409px; min-height: 263px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_106 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_106 > a { display: block; }
