#imCell_13 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 62px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_13 { position: relative; width: 969px; min-height: 62px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_13 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_13_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_13_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_13_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_13_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_13_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_13_tab0 p { margin: 0; padding: 0; }
#imTextObject_13_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_13_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_13_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_13_tab0 .imUl { text-decoration: underline; }
#imTextObject_13_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_13_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_13_tab0 .cf1 { color: #000000; }
#imTextObject_13_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_13_tab0 .cf3 { color: #008000; }
#imTextObject_13_tab0 .cf4 { color: #000000; }
#imTextObject_13_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_13_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_13_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_13_tab0 .cb1 { background-color: #000000; }
#imTextObject_13_tab0 .cb2 { background-color: transparent; }
#imTextObject_13_tab0 .cb3 { background-color: #008000; }
#imTextObject_13_tab0 .cb4 { background-color: #000000; }
#imCell_12 { display: block; position: relative; overflow: hidden; width: 311px; min-height: 222px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_12 { position: relative; width: 310px; min-height: 221px; padding: 1px 1px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_12 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imCellStyle_12 > a { display: block; }
#imCell_132 { display: block; position: relative; overflow: hidden; width: 641px; min-height: 260px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_132 { position: relative; width: 641px; min-height: 260px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_132 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_132_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_132_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_132_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_132_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_132_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_132_tab0 p { margin: 0; padding: 0; }
#imTextObject_132_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_132_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_132_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_132_tab0 .imUl { text-decoration: underline; }
#imTextObject_132_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_132_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_132_tab0 .cf1 { color: #000000; }
#imTextObject_132_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_132_tab0 .cf3 { color: #0000C0; }
#imTextObject_132_tab0 .cf4 { color: #000000; }
#imTextObject_132_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_132_tab0 .cb1 { background-color: #000000; }
#imTextObject_132_tab0 .cb2 { background-color: transparent; }
#imTextObject_132_tab0 .cb3 { background-color: #0000C0; }
#imTextObject_132_tab0 .cb4 { background-color: #000000; }
#imCell_140 { display: block; position: relative; overflow: hidden; width: 311px; min-height: 60px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_140 { position: relative; width: 301px; min-height: 50px; padding: 5px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_140 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_140_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_140_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_140_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_140_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_140_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_140_tab0 p { margin: 0; padding: 0; }
#imTextObject_140_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_140_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_140_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_140_tab0 .imUl { text-decoration: underline; }
#imTextObject_140_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_140_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_140_tab0 .cf1 { color: #000000; }
#imTextObject_140_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_140_tab0 .cf3 { color: #000000; }
#imTextObject_140_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_140_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_140_tab0 .fs16 { vertical-align: baseline; font-size: 8pt; line-height: 17px; *line-height: 1.55; }
#imTextObject_140_tab0 .cb1 { background-color: #000000; }
#imTextObject_140_tab0 .cb2 { background-color: transparent; }
#imTextObject_140_tab0 .cb3 { background-color: #000000; }
#imCell_143 { display: block; position: relative; overflow: hidden; width: 102px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_143 { position: relative; width: 96px; min-height: 88px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_143 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_143 > a { display: block; }
#imCell_155 { display: block; position: relative; overflow: hidden; width: 969px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_155 { position: relative; width: 959px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_155 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_155_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_155_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_155_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_155_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_155_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_155_tab0 p { margin: 0; padding: 0; }
#imTextObject_155_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_155_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_155_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_155_tab0 .imUl { text-decoration: underline; }
#imTextObject_155_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_155_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_155_tab0 .cf1 { color: #000000; }
#imTextObject_155_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_155_tab0 .cf3 { color: #000000; }
#imTextObject_155_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_155_tab0 .cb1 { background-color: #000000; }
#imTextObject_155_tab0 .cb2 { background-color: transparent; }
#imTextObject_155_tab0 .cb3 { background-color: #000000; }
#imCell_160 { display: block; position: relative; overflow: hidden; width: 102px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_160 { position: relative; width: 96px; min-height: 88px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_160 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_160 > a { display: block; }
#imCell_164 { display: block; position: relative; overflow: hidden; width: 99px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_164 { position: relative; width: 93px; min-height: 86px; padding: 3px 3px 5px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_164 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_164 > a { display: block; }
#imCell_165 { display: block; position: relative; overflow: hidden; width: 99px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_165 { position: relative; width: 93px; min-height: 86px; padding: 3px 3px 5px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_165 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_165 > a { display: block; }
#imCell_167 { display: block; position: relative; overflow: hidden; width: 102px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_167 { position: relative; width: 96px; min-height: 88px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_167 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_167 > a { display: block; }
#imCell_168 { display: block; position: relative; overflow: hidden; width: 102px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_168 { position: relative; width: 96px; min-height: 88px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_168 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_168 > a { display: block; }
#imCell_172 { display: block; position: relative; overflow: hidden; width: 102px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_172 { position: relative; width: 96px; min-height: 88px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_172 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_172 > a { display: block; }
#imCell_173 { display: block; position: relative; overflow: hidden; width: 99px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_173 { position: relative; width: 93px; min-height: 86px; padding: 3px 3px 5px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_173 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_173 > a { display: block; }
#imCell_174 { display: block; position: relative; overflow: hidden; width: 102px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_174 { position: relative; width: 96px; min-height: 88px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_174 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_174 > a { display: block; }
#imCell_176 { display: block; position: relative; overflow: hidden; width: 322px; min-height: 264px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_176 { position: relative; width: 316px; min-height: 252px; padding: 3px 3px 9px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_176 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_176 > a { display: block; }
#imCell_14 { display: block; position: relative; overflow: hidden; width: 538px; min-height: 280px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_14 { position: relative; width: 538px; min-height: 266px; padding: 0px 0px 14px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_14 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: #C0C0C0; }
#imTextObject_14_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_14_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_14_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_14_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_14_tab0 p { margin: 0; padding: 0; }
#imTextObject_14_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_14_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_14_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_14_tab0 .imUl { text-decoration: underline; }
#imTextObject_14_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_14_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_14_tab0 .cf1 { color: #000000; }
#imTextObject_14_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_14_tab0 .cf3 { color: #000000; }
#imTextObject_14_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_14_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_14_tab0 .cb1 { background-color: #000000; }
#imTextObject_14_tab0 .cb2 { background-color: transparent; }
#imTextObject_14_tab0 .cb3 { background-color: #000000; }
#imCell_177 { display: block; position: relative; overflow: hidden; width: 425px; min-height: 284px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_177 { position: relative; width: 419px; min-height: 278px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_177 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_177_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_177_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_177_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_177_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_177_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_177_tab0 p { margin: 0; padding: 0; }
#imTextObject_177_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_177_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_177_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_177_tab0 .imUl { text-decoration: underline; }
#imTextObject_177_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_177_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_177_tab0 .cf1 { color: #000000; }
#imTextObject_177_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_177_tab0 .cf3 { color: #000000; }
#imTextObject_177_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_177_tab0 .cb1 { background-color: #000000; }
#imTextObject_177_tab0 .cb2 { background-color: transparent; }
#imTextObject_177_tab0 .cb3 { background-color: #000000; }
#imCell_11 { display: block; position: relative; overflow: hidden; width: 648px; min-height: 392px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_11 { position: relative; width: 648px; min-height: 392px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_11 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: #C0C0C0; }
#imTextObject_11_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_11_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_11_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_11_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_11_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_11_tab0 p { margin: 0; padding: 0; }
#imTextObject_11_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_11_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_11_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_11_tab0 .imUl { text-decoration: underline; }
#imTextObject_11_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_11_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_11_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_11_tab0 .ff3 { font-family: "Arial", sans-serif; }
#imTextObject_11_tab0 .ff4 { font-family: "Symbol", sans-serif; }
#imTextObject_11_tab0 .ff5 { font-family: "Wingdings", sans-serif; }
#imTextObject_11_tab0 .cf1 { color: #000000; }
#imTextObject_11_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_11_tab0 .cf3 { color: #000000; }
#imTextObject_11_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_11_tab0 .cb1 { background-color: #000000; }
#imTextObject_11_tab0 .cb2 { background-color: transparent; }
#imTextObject_11_tab0 .cb3 { background-color: #000000; }
#imCell_175 { display: block; position: relative; overflow: hidden; width: 652px; min-height: 94px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_175 { position: relative; width: 646px; min-height: 84px; padding: 3px 3px 7px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_175 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_175_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_175_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_175_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_175_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_175_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_175_tab0 p { margin: 0; padding: 0; }
#imTextObject_175_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_175_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_175_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_175_tab0 .imUl { text-decoration: underline; }
#imTextObject_175_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_175_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_175_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_175_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_175_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_175_tab0 .cf1 { color: #000000; }
#imTextObject_175_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_175_tab0 .cf3 { color: #000000; }
#imTextObject_175_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_175_tab0 .cb1 { background-color: #000000; }
#imTextObject_175_tab0 .cb2 { background-color: transparent; }
#imTextObject_175_tab0 .cb3 { background-color: #000000; }
#imCell_170 { display: block; position: relative; overflow: hidden; width: 648px; min-height: 90px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_170 { position: relative; width: 648px; min-height: 86px; padding: 0px 0px 4px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_170 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_170_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_170_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_170_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_170_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_170_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_170_tab0 p { margin: 0; padding: 0; }
#imTextObject_170_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_170_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_170_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_170_tab0 .imUl { text-decoration: underline; }
#imTextObject_170_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_170_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_170_tab0 .cf1 { color: #000000; }
#imTextObject_170_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_170_tab0 .cf3 { color: #000000; }
#imTextObject_170_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_170_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_170_tab0 .cb1 { background-color: #000000; }
#imTextObject_170_tab0 .cb2 { background-color: transparent; }
#imTextObject_170_tab0 .cb3 { background-color: #000000; }
#imCell_178 { display: block; position: relative; overflow: hidden; width: 973px; min-height: 266px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_178 { position: relative; width: 967px; min-height: 260px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_178 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_178 > a { display: block; }
