#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 966px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 85px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 968px; min-height: 79px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #008020; }
#imTextObject_1_tab0 .cf4 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #008020; }
#imTextObject_1_tab0 .cb4 { background-color: #000000; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 432px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_3 { position: relative; width: 472px; min-height: 420px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_3_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #000000; }
#imCell_6 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 234px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_6 { position: relative; width: 962px; min-height: 222px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_6 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_6_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_6_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_6_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_6_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_6_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_6_tab0 p { margin: 0; padding: 0; }
#imTextObject_6_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_6_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_6_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_6_tab0 .imUl { text-decoration: underline; }
#imTextObject_6_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_6_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_6_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_6_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_6_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_6_tab0 .cf1 { color: #000000; }
#imTextObject_6_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_6_tab0 .cf3 { color: #0030BF; }
#imTextObject_6_tab0 .cf4 { color: #000000; }
#imTextObject_6_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_6_tab0 .cb1 { background-color: #000000; }
#imTextObject_6_tab0 .cb2 { background-color: transparent; }
#imTextObject_6_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_6_tab0 .cb4 { background-color: #000000; }
#imCell_33 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 597px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_33 { position: relative; width: 478px; min-height: 561px; padding: 3px 3px 33px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_33 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_33_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_33_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_33_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_33_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_33_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_33_tab0 p { margin: 0; padding: 0; }
#imTextObject_33_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_33_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_33_tab0 .imUl { text-decoration: underline; }
#imTextObject_33_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_33_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_33_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_33_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_33_tab0 .cf1 { color: #000000; }
#imTextObject_33_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_33_tab0 .cf3 { color: #FF0000; }
#imTextObject_33_tab0 .cf4 { color: #0030BF; }
#imTextObject_33_tab0 .cf5 { color: #008000; }
#imTextObject_33_tab0 .cf6 { color: #000000; }
#imTextObject_33_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_33_tab0 .fs24 { vertical-align: baseline; font-size: 12pt; line-height: 23px;}
#imTextObject_33_tab0 .cb1 { background-color: #000000; }
#imTextObject_33_tab0 .cb2 { background-color: transparent; }
#imTextObject_33_tab0 .cb3 { background-color: #FF0000; }
#imTextObject_33_tab0 .cb4 { background-color: #0030BF; }
#imTextObject_33_tab0 .cb5 { background-color: #008000; }
#imTextObject_33_tab0 .cb6 { background-color: #000000; }
#imCell_34 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 159px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_34 { position: relative; width: 472px; min-height: 147px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_34 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_34_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_34_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_34_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_34_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_34_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_34_tab0 p { margin: 0; padding: 0; }
#imTextObject_34_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_34_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_34_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_34_tab0 .imUl { text-decoration: underline; }
#imTextObject_34_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_34_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_34_tab0 .ff2 { font-family: "Tahoma", sans-serif; }
#imTextObject_34_tab0 .ff3 { font-family: "Symbol", sans-serif; }
#imTextObject_34_tab0 .ff4 { font-family: "Wingdings", sans-serif; }
#imTextObject_34_tab0 .cf1 { color: #000000; }
#imTextObject_34_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_34_tab0 .cf3 { color: #000000; }
#imTextObject_34_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_34_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_34_tab0 .cb1 { background-color: #000000; }
#imTextObject_34_tab0 .cb2 { background-color: transparent; }
#imTextObject_34_tab0 .cb3 { background-color: #000000; }
#imCell_100 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 47px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_100 { position: relative; width: 968px; min-height: 41px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_100 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_100_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_100_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_100_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_100_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_100_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_100_tab0 p { margin: 0; padding: 0; }
#imTextObject_100_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_100_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_100_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_100_tab0 .imUl { text-decoration: underline; }
#imTextObject_100_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_100_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_100_tab0 .cf1 { color: #000000; }
#imTextObject_100_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_100_tab0 .cf3 { color: #0030BF; }
#imTextObject_100_tab0 .cf4 { color: #000000; }
#imTextObject_100_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_100_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_100_tab0 .cb1 { background-color: #000000; }
#imTextObject_100_tab0 .cb2 { background-color: transparent; }
#imTextObject_100_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_100_tab0 .cb4 { background-color: #000000; }
#imCell_101 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_101 { position: relative; width: 960px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_101 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_101_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_101_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_101_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_101_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_101_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_101_tab0 p { margin: 0; padding: 0; }
#imTextObject_101_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_101_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_101_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_101_tab0 .imUl { text-decoration: underline; }
#imTextObject_101_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_101_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_101_tab0 .cf1 { color: #000000; }
#imTextObject_101_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_101_tab0 .cf3 { color: #000000; }
#imTextObject_101_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_101_tab0 .cb1 { background-color: #000000; }
#imTextObject_101_tab0 .cb2 { background-color: transparent; }
#imTextObject_101_tab0 .cb3 { background-color: #000000; }
