#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 963px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 971px; min-height: 85px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 965px; min-height: 79px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #008020; }
#imTextObject_1_tab0 .cf4 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #008020; }
#imTextObject_1_tab0 .cb4 { background-color: #000000; }
#imCell_44 { display: block; position: relative; overflow: hidden; width: 237px; min-height: 146px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_44 { position: relative; width: 231px; min-height: 140px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_44 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_44_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_44_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_44_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_44_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_44_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_44_tab0 p { margin: 0; padding: 0; }
#imTextObject_44_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_44_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_44_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_44_tab0 .imUl { text-decoration: underline; }
#imTextObject_44_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_44_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_44_tab0 .cf1 { color: #000000; }
#imTextObject_44_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_44_tab0 .cf3 { color: #000000; }
#imTextObject_44_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_44_tab0 .cb1 { background-color: #000000; }
#imTextObject_44_tab0 .cb2 { background-color: transparent; }
#imTextObject_44_tab0 .cb3 { background-color: #000000; }
#imCell_49 { display: block; position: relative; overflow: hidden; width: 321px; min-height: 142px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_49 { position: relative; width: 315px; min-height: 136px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_49 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_49_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_49_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_49_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_49_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_49_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_49_tab0 p { margin: 0; padding: 0; }
#imTextObject_49_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_49_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_49_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_49_tab0 .imUl { text-decoration: underline; }
#imTextObject_49_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_49_tab0 .cf1 { color: #000000; }
#imTextObject_49_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_49_tab0 .cf3 { color: #000000; }
#imTextObject_49_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_49_tab0 .cb1 { background-color: #000000; }
#imTextObject_49_tab0 .cb2 { background-color: transparent; }
#imTextObject_49_tab0 .cb3 { background-color: #000000; }
#imCell_50 { display: block; position: relative; overflow: hidden; width: 320px; min-height: 142px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_50 { position: relative; width: 314px; min-height: 136px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_50 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_50_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_50_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_50_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_50_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_50_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_50_tab0 p { margin: 0; padding: 0; }
#imTextObject_50_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_50_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_50_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_50_tab0 .imUl { text-decoration: underline; }
#imTextObject_50_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_50_tab0 .cf1 { color: #000000; }
#imTextObject_50_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_50_tab0 .cf3 { color: #000000; }
#imTextObject_50_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_50_tab0 .cb1 { background-color: #000000; }
#imTextObject_50_tab0 .cb2 { background-color: transparent; }
#imTextObject_50_tab0 .cb3 { background-color: #000000; }
#imCell_51 { display: block; position: relative; overflow: hidden; width: 240px; min-height: 146px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_51 { position: relative; width: 234px; min-height: 124px; padding: 3px 3px 19px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_51 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_51_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_51_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_51_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_51_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_51_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_51_tab0 p { margin: 0; padding: 0; }
#imTextObject_51_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_51_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_51_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_51_tab0 .imUl { text-decoration: underline; }
#imTextObject_51_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_51_tab0 .cf1 { color: #000000; }
#imTextObject_51_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_51_tab0 .cf3 { color: #000000; }
#imTextObject_51_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_51_tab0 .cb1 { background-color: #000000; }
#imTextObject_51_tab0 .cb2 { background-color: transparent; }
#imTextObject_51_tab0 .cb3 { background-color: #000000; }
#imCell_52 { display: block; position: relative; overflow: hidden; width: 237px; min-height: 146px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_52 { position: relative; width: 231px; min-height: 120px; padding: 3px 3px 23px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_52 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_52_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_52_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_52_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_52_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_52_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_52_tab0 p { margin: 0; padding: 0; }
#imTextObject_52_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_52_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_52_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_52_tab0 .imUl { text-decoration: underline; }
#imTextObject_52_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_52_tab0 .cf1 { color: #000000; }
#imTextObject_52_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_52_tab0 .cf3 { color: #000000; }
#imTextObject_52_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_52_tab0 .cb1 { background-color: #000000; }
#imTextObject_52_tab0 .cb2 { background-color: transparent; }
#imTextObject_52_tab0 .cb3 { background-color: #000000; }
#imCell_53 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 146px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_53 { position: relative; width: 233px; min-height: 122px; padding: 3px 3px 21px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_53 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_53_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_53_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_53_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_53_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_53_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_53_tab0 p { margin: 0; padding: 0; }
#imTextObject_53_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_53_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_53_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_53_tab0 .imUl { text-decoration: underline; }
#imTextObject_53_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_53_tab0 .cf1 { color: #000000; }
#imTextObject_53_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_53_tab0 .cf3 { color: #000000; }
#imTextObject_53_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_53_tab0 .cb1 { background-color: #000000; }
#imTextObject_53_tab0 .cb2 { background-color: transparent; }
#imTextObject_53_tab0 .cb3 { background-color: #000000; }
#imCell_55 { display: block; position: relative; overflow: hidden; width: 319px; min-height: 222px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_55 { position: relative; width: 313px; min-height: 216px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_55 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_55_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_55_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_55_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_55_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_55_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_55_tab0 p { margin: 0; padding: 0; }
#imTextObject_55_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_55_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_55_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_55_tab0 .imUl { text-decoration: underline; }
#imTextObject_55_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_55_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_55_tab0 .cf1 { color: #000000; }
#imTextObject_55_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_55_tab0 .cf3 { color: #000000; }
#imTextObject_55_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_55_tab0 .cb1 { background-color: #000000; }
#imTextObject_55_tab0 .cb2 { background-color: transparent; }
#imTextObject_55_tab0 .cb3 { background-color: #000000; }
#imCell_56 { display: block; position: relative; overflow: hidden; width: 320px; min-height: 222px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_56 { position: relative; width: 314px; min-height: 216px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_56 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #C0C0C0; }
#imTextObject_56_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_56_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_56_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_56_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_56_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_56_tab0 p { margin: 0; padding: 0; }
#imTextObject_56_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_56_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_56_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_56_tab0 .imUl { text-decoration: underline; }
#imTextObject_56_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_56_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_56_tab0 .cf1 { color: #000000; }
#imTextObject_56_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_56_tab0 .cf3 { color: #000000; }
#imTextObject_56_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_56_tab0 .cb1 { background-color: #000000; }
#imTextObject_56_tab0 .cb2 { background-color: transparent; }
#imTextObject_56_tab0 .cb3 { background-color: #000000; }
#imCell_102 { display: block; position: relative; overflow: hidden; width: 967px; min-height: 32px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_102 { position: relative; width: 957px; min-height: 21px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_102 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_102_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_102_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_102_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_102_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_102_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_102_tab0 p { margin: 0; padding: 0; }
#imTextObject_102_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_102_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_102_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_102_tab0 .imUl { text-decoration: underline; }
#imTextObject_102_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_102_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_102_tab0 .cf1 { color: #000000; }
#imTextObject_102_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_102_tab0 .cf3 { color: #000000; }
#imTextObject_102_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_102_tab0 .cb1 { background-color: #000000; }
#imTextObject_102_tab0 .cb2 { background-color: transparent; }
#imTextObject_102_tab0 .cb3 { background-color: #000000; }
#imCell_101 { display: block; position: relative; overflow: hidden; width: 971px; min-height: 47px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_101 { position: relative; width: 965px; min-height: 41px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_101 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_101_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_101_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_101_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_101_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_101_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_101_tab0 p { margin: 0; padding: 0; }
#imTextObject_101_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_101_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_101_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_101_tab0 .imUl { text-decoration: underline; }
#imTextObject_101_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_101_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_101_tab0 .cf1 { color: #000000; }
#imTextObject_101_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_101_tab0 .cf3 { color: #0030BF; }
#imTextObject_101_tab0 .cf4 { color: #000000; }
#imTextObject_101_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_101_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_101_tab0 .cb1 { background-color: #000000; }
#imTextObject_101_tab0 .cb2 { background-color: transparent; }
#imTextObject_101_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_101_tab0 .cb4 { background-color: #000000; }
#imCell_41 { display: block; position: relative; overflow: hidden; width: 318px; min-height: 142px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_41 { position: relative; width: 312px; min-height: 136px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_41 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_41_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_41_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_41_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_41_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_41_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_41_tab0 p { margin: 0; padding: 0; }
#imTextObject_41_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_41_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_41_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_41_tab0 .imUl { text-decoration: underline; }
#imTextObject_41_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_41_tab0 .cf1 { color: #000000; }
#imTextObject_41_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_41_tab0 .cf3 { color: #000000; }
#imTextObject_41_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_41_tab0 .cb1 { background-color: #000000; }
#imTextObject_41_tab0 .cb2 { background-color: transparent; }
#imTextObject_41_tab0 .cb3 { background-color: #000000; }
#imCell_57 { display: block; position: relative; overflow: hidden; width: 971px; min-height: 84px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_57 { position: relative; width: 965px; min-height: 78px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_57 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_57_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_57_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_57_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_57_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_57_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_57_tab0 p { margin: 0; padding: 0; }
#imTextObject_57_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_57_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_57_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_57_tab0 .imUl { text-decoration: underline; }
#imTextObject_57_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_57_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_57_tab0 .ff2 { font-family: "Engravers MT", sans-serif; }
#imTextObject_57_tab0 .cf1 { color: #000000; }
#imTextObject_57_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_57_tab0 .cf3 { color: #FF0000; }
#imTextObject_57_tab0 .cf4 { color: #000000; }
#imTextObject_57_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_57_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_57_tab0 .cb1 { background-color: #000000; }
#imTextObject_57_tab0 .cb2 { background-color: transparent; }
#imTextObject_57_tab0 .cb3 { background-color: #FF0000; }
#imTextObject_57_tab0 .cb4 { background-color: #000000; }
#imCell_37 { display: block; position: relative; overflow: hidden; width: 971px; min-height: 357px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_37 { position: relative; width: 959px; min-height: 345px; padding: 6px 6px 6px 6px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_37 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_37_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_37_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_37_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_37_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_37_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_37_tab0 p { margin: 0; padding: 0; }
#imTextObject_37_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_37_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_37_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_37_tab0 .imUl { text-decoration: underline; }
#imTextObject_37_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_37_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_37_tab0 .cf1 { color: #000000; }
#imTextObject_37_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_37_tab0 .cf3 { color: #000000; }
#imTextObject_37_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_37_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_37_tab0 .cb1 { background-color: #000000; }
#imTextObject_37_tab0 .cb2 { background-color: transparent; }
#imTextObject_37_tab0 .cb3 { background-color: #000000; }
