#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 966px;}
#imCell_3 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 45px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_3 { position: relative; width: 968px; min-height: 39px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_3_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #008020; }
#imTextObject_3_tab0 .cf4 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .fs48 { vertical-align: baseline; font-size: 24pt; line-height: 39px;}
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #008020; }
#imTextObject_3_tab0 .cb4 { background-color: #000000; }
#imCell_70 { display: block; position: relative; overflow: hidden; width: 970px; min-height: 31px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_70 { position: relative; width: 960px; min-height: 20px; padding: 5px 5px 5px 5px; text-align: center; border-top: 1px solid #000000; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_70 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent; }
#imTextObject_70_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_70_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_70_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_70_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_70_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_70_tab0 p { margin: 0; padding: 0; }
#imTextObject_70_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_70_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_70_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_70_tab0 .imUl { text-decoration: underline; }
#imTextObject_70_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_70_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_70_tab0 .cf1 { color: #000000; }
#imTextObject_70_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_70_tab0 .cf3 { color: #000000; }
#imTextObject_70_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_70_tab0 .cb1 { background-color: #000000; }
#imTextObject_70_tab0 .cb2 { background-color: transparent; }
#imTextObject_70_tab0 .cb3 { background-color: #000000; }
#imCell_72 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 627px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_72 { position: relative; width: 968px; min-height: 621px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_72 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_72_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_72_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_72_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_72_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_72_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_72_tab0 p { margin: 0; padding: 0; }
#imTextObject_72_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_72_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_72_tab0 .imUl { text-decoration: underline; }
#imTextObject_72_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_72_tab0 .ff2 { font-family: "Calibri", sans-serif; }
#imTextObject_72_tab0 .cf1 { color: #000000; }
#imTextObject_72_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_72_tab0 .cf3 { color: #002060; }
#imTextObject_72_tab0 .cf4 { color: #000000; }
#imTextObject_72_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_72_tab0 .fs22 { vertical-align: baseline; font-size: 11pt; line-height: 21px;}
#imTextObject_72_tab0 .cb1 { background-color: #000000; }
#imTextObject_72_tab0 .cb2 { background-color: transparent; }
#imTextObject_72_tab0 .cb3 { background-color: #002060; }
#imTextObject_72_tab0 .cb4 { background-color: #000000; }
#imCell_73 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 422px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_73 { position: relative; width: 478px; min-height: 370px; padding: 3px 3px 49px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_73 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_73 > a { display: block; }
#imCell_74 { display: block; position: relative; overflow: hidden; width: 484px; min-height: 422px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_74 { position: relative; width: 478px; min-height: 416px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_74 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_74_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_74_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_74_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_74_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_74_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_74_tab0 p { margin: 0; padding: 0; }
#imTextObject_74_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_74_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_74_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_74_tab0 .imUl { text-decoration: underline; }
#imTextObject_74_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_74_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_74_tab0 .ff2 { font-family: "Calibri Light", sans-serif; }
#imTextObject_74_tab0 .cf1 { color: #000000; }
#imTextObject_74_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_74_tab0 .cf3 { color: #2E74B5; }
#imTextObject_74_tab0 .cf4 { color: #002060; }
#imTextObject_74_tab0 .cf5 { color: #000000; }
#imTextObject_74_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_74_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_74_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_74_tab0 .fs26 { vertical-align: baseline; font-size: 13pt; line-height: 24px;}
#imTextObject_74_tab0 .cb1 { background-color: #000000; }
#imTextObject_74_tab0 .cb2 { background-color: transparent; }
#imTextObject_74_tab0 .cb3 { background-color: #2E74B5; }
#imTextObject_74_tab0 .cb4 { background-color: #002060; }
#imTextObject_74_tab0 .cb5 { background-color: #000000; }
#imCell_75 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 572px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_75 { position: relative; width: 968px; min-height: 566px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_75 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_75_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_75_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_75_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_75_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_75_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_75_tab0 p { margin: 0; padding: 0; }
#imTextObject_75_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_75_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_75_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_75_tab0 .imUl { text-decoration: underline; }
#imTextObject_75_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_75_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_75_tab0 .ff2 { font-family: "Courier New", sans-serif; }
#imTextObject_75_tab0 .ff3 { font-family: "Wingdings", sans-serif; }
#imTextObject_75_tab0 .ff4 { font-family: "Tahoma", sans-serif; }
#imTextObject_75_tab0 .ff5 { font-family: "Calibri Light", sans-serif; }
#imTextObject_75_tab0 .ff6 { font-family: "Calibri", sans-serif; }
#imTextObject_75_tab0 .ff7 { font-family: "Symbol", sans-serif; }
#imTextObject_75_tab0 .cf1 { color: #000000; }
#imTextObject_75_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_75_tab0 .cf3 { color: #2E74B5; }
#imTextObject_75_tab0 .cf4 { color: #000000; }
#imTextObject_75_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_75_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_75_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_75_tab0 .fs22 { vertical-align: baseline; font-size: 11pt; line-height: 21px;}
#imTextObject_75_tab0 .cb1 { background-color: #000000; }
#imTextObject_75_tab0 .cb2 { background-color: transparent; }
#imTextObject_75_tab0 .cb3 { background-color: #2E74B5; }
#imTextObject_75_tab0 .cb4 { background-color: #000000; }
#imCell_76 { display: block; position: relative; overflow: hidden; width: 729px; min-height: 264px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_76 { position: relative; width: 723px; min-height: 258px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_76 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_76_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_76_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_76_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_76_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_76_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_76_tab0 p { margin: 0; padding: 0; }
#imTextObject_76_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_76_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_76_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_76_tab0 .imUl { text-decoration: underline; }
#imTextObject_76_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_76_tab0 .ff1 { font-family: "Symbol", sans-serif; }
#imTextObject_76_tab0 .ff2 { font-family: "Courier New", sans-serif; }
#imTextObject_76_tab0 .ff3 { font-family: "Wingdings", sans-serif; }
#imTextObject_76_tab0 .ff4 { font-family: "Tahoma", sans-serif; }
#imTextObject_76_tab0 .ff5 { font-family: "Calibri Light", sans-serif; }
#imTextObject_76_tab0 .ff6 { font-family: "Calibri", sans-serif; }
#imTextObject_76_tab0 .cf1 { color: #000000; }
#imTextObject_76_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_76_tab0 .cf3 { color: #2E74B5; }
#imTextObject_76_tab0 .cf4 { color: #000000; }
#imTextObject_76_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_76_tab0 .fs32 { vertical-align: baseline; font-size: 16pt; line-height: 28px;}
#imTextObject_76_tab0 .fs22 { vertical-align: baseline; font-size: 11pt; line-height: 21px;}
#imTextObject_76_tab0 .cb1 { background-color: #000000; }
#imTextObject_76_tab0 .cb2 { background-color: transparent; }
#imTextObject_76_tab0 .cb3 { background-color: #2E74B5; }
#imTextObject_76_tab0 .cb4 { background-color: #000000; }
#imCell_69 { display: block; position: relative; overflow: hidden; width: 974px; min-height: 47px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_69 { position: relative; width: 968px; min-height: 40px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid #808080; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_69 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_69_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_69_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_69_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_69_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_69_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_69_tab0 p { margin: 0; padding: 0; }
#imTextObject_69_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_69_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_69_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_69_tab0 .imUl { text-decoration: underline; }
#imTextObject_69_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_69_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_69_tab0 .cf1 { color: #000000; }
#imTextObject_69_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_69_tab0 .cf3 { color: #0030BF; }
#imTextObject_69_tab0 .cf4 { color: #000000; }
#imTextObject_69_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_69_tab0 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTextObject_69_tab0 .cb1 { background-color: #000000; }
#imTextObject_69_tab0 .cb2 { background-color: transparent; }
#imTextObject_69_tab0 .cb3 { background-color: #0030BF; }
#imTextObject_69_tab0 .cb4 { background-color: #000000; }
#imCell_77 { display: block; position: relative; overflow: hidden; width: 239px; min-height: 264px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_77 { position: relative; width: 233px; min-height: 182px; padding: 3px 3px 79px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_77 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_77 > a { display: block; }
