html {position: relative; margin: 0; padding: 0; background-color: transparent; background-image: url('bg.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll;}
body {margin: 0; padding: 0; text-align: left;}
#imPage {margin: 0px auto 0px auto; width: 993px; position: relative;}
#imHeaderBg {position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent;}
#imHeader {margin-bottom: 32px; height: 205px; background-color: transparent; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 205px; left: 0;  height: 22px; width: 983px; padding: 5px 5px 5px 5px; background-color: transparent; background-image: url('menu.jpg'); background-position: left top; background-repeat: repeat-y;}
#imMnMn > ul { text-align: left; }
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 983px; padding: 5px 5px 5px 5px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 237px; bottom: 88px; left: 0; width: 993px; background-color: transparent; background-image: url('content.jpg'); background-position: left top; background-repeat: repeat-y;}
#imFooterBg {position: absolute; left: 0; bottom: 0; height: 90px; width: 100%; background-color: transparent;}
#imFooter {position: relative; margin: 0 auto; height: 88px; width: 993px; background-color: transparent; background-image: url('bottom.png'); background-position: top left; background-repeat: no-repeat;}
